:local {
  @import "../../colors";

  .centered {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .layout {
    background: $grey-light;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
  }
}
