:local {
  @import "app/renderer/ui/theme";

  .button {
    border-color: $dropdown-border-color;
    color: $dropdown-color;
    height: $dropdown-height;
    margin: 0;
    padding: 0;
    transition-duration: 0.5s;
    width: $dropdown-width;

    &:focus {
      border-color: $dropdown-interactive-color;
      color: $dropdown-interactive-color;
    }

    &:hover {
      border-color: $dropdown-interactive-color;
      color: $dropdown-interactive-color;
    }
  }

  .active {
    border-color: $dropdown-interactive-color;
    color: $dropdown-interactive-color;
  }

  .menu {
    &::before {
      background: $dropdown-menu-background;
      border-left: $dropdown-menu-border;
      border-right: $dropdown-menu-border;
      content: "";
      display: block;
      height: 4px;
      position: absolute;
      right: -1px;
      top: -4px;
      width: 38px;
      z-index: 1000000;
    }
  }

  .menuItem {
    &:not(:last-child) {
      border-bottom: $dropdown-item-border;
    }
  }
}
