:local {
  @import "app/renderer/ui/theme";

  .underlined {
    border: 0;
    border-bottom: $input-underlined-border;
    border-radius: 0;
    display: grid;

    &:focus {
      box-shadow: none;
    }
  }
}
