:local {
  @import "app/renderer/ui/theme";
  @import "app/renderer/ui/fonts";

  .underlined {
    @extend %font14;

    border: 0;
    border-bottom: $input_underlined-border;
    border-radius: 0;
    color: $input_underlined-color;
    display: grid;

    &:focus {
      box-shadow: none;
    }
  }
}
