:local {
  @import "app/renderer/ui/colors";

  .underlined {
    border: 0;
    border-bottom: 1px solid $grey-8;
    border-radius: 0;
    display: grid;

    &:focus {
      box-shadow: none;
    }
  }
}
