:local {
  @import "app/renderer/ui/theme";
  @import "app/renderer/ui/fonts";

  .options {
    li {
      margin-bottom: 10px;
    }
  }

  .text {
    color: $font-color-dark;
    margin-bottom: 30px;
  }
}
