:local {
  @import "app/renderer/ui/theme";
  @import "app/renderer/ui/fonts";

  .centered {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .text {
    @extend %font14;

    color: $font-color-dark;
    margin-bottom: 30px;
  }
}
