:local {
  @import "../../../colors";
  @import "../../../fonts";

  .button {
    @extend %font20;

    background: none;
    border: 0;
    cursor: pointer;
    font: inherit;
    padding: 0;
    color: $blue-6;

  }
}