:local {
  @import "app/renderer/ui/fonts";
  @import "app/renderer/ui/theme";

  .button {
    @extend %font20;

    background: $button_link-background;
    border: $button_link-border;
    color: $button_link-color;
    cursor: pointer;
    font: inherit;
    padding: 0;
  }
}
