:local {
  @import "app/renderer/ui/theme";
  @import "app/renderer/ui/fonts";

  .centered {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .text {
    @extend %font14;

    color: $font-color-dark;
  }

  .input {
    @extend %font14;

    border-radius: $input-big-border-radius;
    box-sizing: border-box;
    margin: 25px 0;
    padding: 25px 30px;
  }

  .alert {
    background: $alert-gradient;
    color: $alert-color;
    grid-row-start: 2;
    padding: 35px 47px;

    .title {
      font-weight: 600;
      margin-bottom: 20px;
    }

    .message {
      @extend %font12;
    }
  }

  .alert-grid {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-template-rows: 35% 1fr 1fr;
  }

  .error {
    color: $error-color;
  }
}
