:local {
  @import "app/renderer/ui/theme";

  .top-bar {
    border-bottom: $top_bar-border;
    display: grid;
    grid-template-columns: repeat(6, auto) 1fr;
    padding-left: 1em;
  }

  .link-box {
    align-items: center;
    border-bottom: $top_bar-link-inactive-border;
    color: $top_bar-link-default-color;
    display: flex;
    font-weight: bold;
    grid-row: 1;
    padding: 0 2em;
    text-decoration: none;
  }

  .active {
    border-bottom: $top_bar-link-active-border;
    color: $top_bar-link-active-color;
  }
}
