:local {
  @import "app/renderer/ui/theme";

  .top-bar {
    border-bottom: $top_bar-border;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .link-box {
    border-bottom: $top_bar-link-inactive-border;
    color: $top_bar-link-default-color;
    font-weight: bold;
    padding: 1.5em 2.5em 1.4em 2.5em;
    text-decoration: none;
  }

  .active {
    border-bottom: $top_bar-link-active-border;
    color: $top_bar-link-active-color;
  }
}
