:local {
  @import "app/renderer/ui/theme";

  .paddingLess div {
    padding: 0 !important;
  }

  .text {
    color: $tab-text-color;
    font-size: $tab-font_size;
    font-style: italic;
    font-weight: $tab-font_weight;
    line-height: 1.5;
    margin-bottom: 1.5em;
  }

  .title {
    font-weight: $tab-title-font_weight;
    margin-bottom: 1.5em;
  }
}
