:local {
  @import "app/renderer/ui/colors";
  @import "app/renderer/ui/fonts";

  .button {
    @extend %font20;

    background: none;
    border: 1px solid $grey-7;
    color: $grey-7;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font: inherit;
    height: 54px;
    justify-content: space-between;
    margin-bottom: 0.3em;
    outline: inherit;
    padding: 0 20px;
    width: 100%;
  }

  .recommended {
    border-color: $blue-6;
    color: $blue-6;
    height: 75px;
  }
}
