:local {
  @import "app/renderer/ui/theme";
  @import "app/renderer/ui/colors";
  // tslint:disable-next-line: completed-docs
  .units {
    background-color: $grey-6;
    border-radius: 5%;
    color: $grey-1;
    font-weight: 600;
    padding: 12px;
  }
}
