:local {
  @import "app/renderer/ui/theme";

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
  }

  .title {
    color: $tooltip_title-color;
    font-size: $tooltip_title-font_size;
    font-weight: $tooltip_title-font_weight;
    margin-bottom: 1.5em;
  }

  .text {
    color: $tooltip_text-color;
    font-size: $tooltip_text-font_size;
    font-style: italic;
    font-weight: $tooltip_text-font_size;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }

  .with-padding div {
    padding: 12px !important;
  }

  .main {
    padding: 2.5em;
  }
}

