:local {
  @import "app/renderer/ui/theme";

  .wrapper {
    display: flex;
    flex-flow: column nowrap;
  }

  .about-data {
    margin: 1.5em;
    padding: 0.5em;
  }

  .templates {
    margin: 1em;
  }

  .title {
    color: $tooltip_title-color;
    font-size: $tooltip_title-font_size;
    font-weight: $tooltip_title-font_weight;
    padding: 5px;
  }

  .text {
    color: $tooltip_text-color;
    font-size: $tooltip_text-font_size;
    font-style: italic;
    font-weight: $tooltip_text-font_size;
    padding: 5px;
  }

  .with-padding div {
    padding: 10px !important;
  }
}

