.DS_Store
node_modules
/dist
dist_electron
**.asc
**.tar.gz
witnet
/tests/e2e/videos/
/tests/e2e/screenshots/
sheikah-darwin-x64

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist-electron
witnet.toml

#witnet-rust files
genesis_block.json