:local {
  @import "app/renderer/ui/colors";
  @import "app/renderer/ui/theme";

  .pending {
    margin: 3em;
    width: 50vw;
  }

  .form {
    display: flex;
    flex-flow: column nowrap;
    padding: 2em;
    width: inherit;

    .form-row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      margin: 5px;
    }

    .label {
      align-self: center;
      color: $grey-9;
      font-weight: 600;
      justify-content: flex-start;
    }

    .address-input {
      height: 48px;
      margin-left: 1em;
      width: 80%;
    }

    .label-input {
      align-self: center;
      height: 48px;
      margin-left: 2.5em;
      width: 80%;
    }

    .amount-input {
      height: 48px;
      margin-left: 1.2em;
      padding: 1.5em;
      width: 60%;
    }

    span {
      margin: 0;
    }

    .fee-input {
      margin-left: 3.5em;
      width: 60%;
    }

    .info {
      align-self: center;
      color: $tab_send-info-color;
      display: flex;
      flex-direction: column;
      font-size: $tab_send-info-font_size;
      font-style: italic;
      font-weight: $tab_send-info-font_weight;
    }

    .icon {
      font-size: 16px;
      padding: 0.5em;
    }

    .submit-area {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: 1em;
      width: 50%;
    }

    .submit-btn {
      width: 15em;
    }

    .qr {
      text-align: center;
    }
  }
}
