:local {
  @import "app/renderer/ui/colors";
  @import "app/renderer/ui/theme";

  .new-transaction {
    display: flex;
    flex-flow: column wrap;
    padding: 2em;
  }

  .input {
    height: 48px;
  }

  .amount-input {
    padding: 12px 64px 10px 14px;
    width: 180px;
  }

  .info {
    color: $tab_send-info-color;
    font-size: $tab_send-info-font_size;
    font-style: italic;
    font-weight: $tab_send-info-font_weight;
  }

  .icon {
    font-size: 16px;
    padding: 0.5em;
  }
}
