:local {
  @import "app/renderer/ui/colors";
  @import "app/renderer/ui/theme";

  .new-transaction {
    align-items: center;
    display: grid;
    grid-gap: 0.5em 1em;
    grid-template-columns: auto repeat(5, 1fr) auto;
    padding: 2em;
  }

  .label {
    grid-column: 1;
  }

  .input {
    grid-column: 2;
    height: 48px;
  }

  .amount-input {
    grid-column-end: 2;
    grid-column-start: 4;
    padding: 12px 64px 10px 14px;
    width: 180px;
  }

  .large-input {
    grid-column-end: 7;
    grid-column-start: 2;
  }

  .small-input {
    grid-column-end: 5;
    grid-column-start: 2;
  }

  .submit {
    box-sizing: border-box;
    grid-column: 2;
    grid-row: 6;
  }

  .info {
    color: $tab_send-info-color;
    font-size: $tab_send-info-font_size;
    font-style: italic;
    font-weight: $tab_send-info-font_weight;
  }

  .icon {
    font-size: 16px;
    padding: 0.5em;
  }
}
