:local {
  @import "app/renderer/ui/colors";
  @import "app/renderer/ui/theme";

  .form {
    display: flex;
    flex-flow: column nowrap;
    padding: 2em;

    .form-row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      margin: 10px;
    }

    .label {
      align-self: center;
      color: $grey-9;
      font-weight: 600;
      justify-content: flex-start;
    }

    .address-input {
      height: 48px;
      margin-left: 1em;
      width: 60%;
    }

    .label-input {
      align-self: center;
      height: 48px;
      margin-left: 2.5em;
      width: 60%;
    }

    .amount-input {
      height: 48px;
      margin-left: 1.2em;
      padding: 1.5em;
      width: 60%;
    }

    span {
      margin: 0;
    }

    .fee-input {
      margin-left: 3.5em;
      width: 60%;
    }

    .info {
      color: $tab_send-info-color;
      font-size: $tab_send-info-font_size;
      font-style: italic;
      font-weight: $tab_send-info-font_weight;
    }

    .icon {
      font-size: 16px;
      padding: 0.5em;
    }

    .submit {
      margin: 30px 5px 5px 5px;
    }

    .qr {
      text-align: center;
    }
  }
}
