:local {
  @import "app/renderer/ui/fonts";
  @import "app/renderer/ui/theme";

  .button {
    background: $button_action-background;
    border: $button_action-border;
    border-color: $button_action-border_color;
    border-radius: $button_action-border_radius;
    box-shadow: $button_action-shadow;
    color: $button_action-color;
    font-weight: $button_action-font_weight;
    line-height: $button_action-line_height;
    padding: $button_action-padding;

    &:hover {
      background: $button_action-background;
      border-color: $button_action-border_color;
      color: $button_action-color;
    }

    &:focus {
      background: $button_action-focus-background;
      border-color: $button_action-focus-border_color;
      color: $button_action-focus-color;
    }

    &:disabled,
    &:disabled:hover {
      background: $button_action-disabled-background;
      border-color: $button_action-disabled-border_color;
      color: $button_action-disabled-color;
    }
  }
}
