:local {
  @import "app/renderer/ui/fonts";
  @import "app/renderer/ui/theme";

  .button {
    background: $button-action-background;
    border: $button-action-border;
    border-color: $button-action-border_color;
    border-radius: $button-action-border_radius;
    box-shadow: $button-action-shadow;
    color: $button-action-color;
    font-weight: $button-action-font_weight;
    line-height: $button-action-line_height;
    padding: $button-action-padding;

    &:hover {
      background: $button-action-background;
      border-color: $button-action-border_color;
      color: $button-action-color;
    }

    &:focus {
      background: $button-action-focus-background;
      border-color: $button-action-focus-border_color;
      color: $button-action-focus-color;
    }

    &:disabled,
    &:disabled:hover {
      background: $button-action-disabled-background;
      border-color: $button-action-disabled-border_color;
      color: $button-action-disabled-color;
    }
  }
}
