:local {
  @import "app/renderer/ui/theme";
  @import "app/renderer/ui/fonts";

  .alert {
    background: $alert-gradient;
    color: $alert-color;
    grid-row-start: 2;
    padding: 35px 45px;

    ul {
      list-style-position: inside;
      list-style-type: disc;
      padding-left: 0;

      li {
        line-height: 1.4em;
        margin-bottom: 5px;
      }
    }
  }

  .alert-message {
    color: $alert-color;
  }

  .alert-title {
    color: $alert-color;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .alert-grid {
    display: grid;
    grid-column-start: 3;
    grid-row: 1fr 1fr 1fr;
    grid-row-start: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
  }

  .centered {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .error {
    color: $error-color;
  }

  .mnemonics {
    color: $input_big-color;
  }

  .recommendation {
    color: $font-color-dark;
  }

  .seed {
    align-items: center;
    border: $input_big-border;
    border-radius: $input_big-border-radius;
    box-sizing: border-box;
    color: $input_big-color;
    display: inline-flex;
    font-size: $font-size-16;
    line-break: auto;
    line-height: 1.5em;
    margin: 15px 0;
    padding: 20px 25px;
    width: 100%;
  }
}
