$black: #000;
$blue: #3a75f2;
$greenyellow: greenyellow;
$lightgrey: #d3d3d3;
$grey: #808080;
$lightblue: lightblue;
$lightcoral: lightcoral;
$lightgreen: lightgreen;
$purple: #620be0;
$red-light: #fbefef;
$red: #f00;
$white: #fff;
$white2: #f1f1f1;
$white3: #f9f9f9;
$yellow: yellow;