@import "~font-awesome/css/font-awesome.css";
@import "colors";

body {
  position: relative;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.ant-card-head {
  align-items: center;
  background: linear-gradient(to right, $purple, $blue);
  color: $white;
  display: flex;
  height: 100px;
}
.ant-card-head-title {
  color: $white;
  font-size: 22px;
}

.ant-card-body {
  padding: 0;
}