@import "~font-awesome/css/font-awesome.css";
@import "colors";
@import "reset";
@import "fonts";

body {
  position: relative;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

  .ant-card-head {
    align-items: center;
    background: linear-gradient(to right, $purple-6, $blue-6);
    color: $grey-1;
    display: flex;
    height: 100px;
  }

  .ant-card-head-title {
    color: $grey-1;
    font-size: 22px;
  }

  .ant-card-body {
    padding: 0;
  }
}
