:global {
  @import "~font-awesome/css/font-awesome.css";
  @import "colors";
  @import "reset";
  @import "fonts";

  html {
    box-sizing: border-box;
  }

  body {
    font-family: "Monospaced Number", sans-serif;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
  }

  .ant-card-head {
    align-items: center;
    background: linear-gradient(to right, $purple-6, $blue-6);
    color: $grey-1;
    display: flex;
    height: 100px;
  }

  .ant-card-head-title {
    color: $grey-1;
    font-size: 22px;
  }

  .ant-card-body {
    padding: 0;
  }
}
