@import "~font-awesome/css/font-awesome.css";
@import "colors";
@import "reset";

body {
  position: relative;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;

  .ant-card-head {
    align-items: center;
    background: linear-gradient(to right, $purple, $blue);
    color: $white;
    display: flex;
    height: 100px;
  }

  .ant-card-head-title {
    color: $white;
    font-size: 22px;
  }

  .ant-card-body {
    padding: 0;
  }
}
