@import "app/renderer/ui/colors";

// COMMON
$background-color: $grey-2;
$error-color: $red-4;
$font-color-dark: $grey-9;
$font-color-light: $grey-7;
$default-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);

// ALERT
$alert-gradient: linear-gradient(to right, $yellow-3, $grey-2);
$alert-color: $yellow-8;

// BUTTON

// ACTION BUTTON
$button-action-background-color: $blue-6;
$button-action-background: $button-action-background-color;
$button-action-border_color: $button-action-background-color;
$button-action-border_radius: 4px;
$button-action-border: 0;
$button-action-color: $grey-1;
$button-action-disabled-background-color: $grey-4;
$button-action-disabled-background: $button-action-disabled-background-color;
$button-action-disabled-border_color: $button-action-disabled-background-color;
$button-action-disabled-color: $button-action-color;
$button-action-focus-background-color: $button-action-color;
$button-action-focus-background: $button-action-focus-background-color;
$button-action-focus-border_color: $button-action-focus-background-color;
$button-action-focus-color: $button-action-background-color;

$button-action-font_weight: 600;
$button-action-line_height: 1;
$button-action-padding: 12px 15px 25px 15px;
$button-action-shadow: $default-box-shadow;

// NAVIGATION BUTTON
$button-navigation-background: $grey-1;
$button-navigation-border-color: $grey-4;
$button-navigation-border-style: solid;
$button-navigation-border-width: 1px;
$button-navigation-color: $grey-8;
$button-navigation-height: 100%;
$button-navigation-width: auto;
$button-navigation-hover-background: $grey-2;

// LINK BUTTON
$button-link-background: none;
$button-link-border: 0;
$button-link-color: $blue-6;
$button-link-height: auto;
$button-link-width: auto;

// OPTION BUTTON
$button-option-background: $grey-1;
$button-option-border-width: 1px;
$button-option-border-style: solid;
$button-option-border-color: $grey-4;
$button-option-border: $button-option-border-width $button-option-border-style $button-option-border-color;
$button-option-color: $grey-8;
$button-option-hover-border-color: $blue-4;
$button-option-hover-box-shadow: 0 1px 5px 0 $blue-2;
$button-option-hover-color: $blue-5;
$button-option-active-background: $grey-2;
$button-option-active-border-color: $blue-5;
$button-option-active-color: $blue-6;
$button-option-active-box-shadow: 0 1px 5px 0 $blue-3;

//CARD

//CARD DEFAULT
$card-default-padding: 40px;
$card-default-shadow: $default-box-shadow;

// DOT INDICATOR
$dot_indicator-negative-color: $red-5;
$dot_indicator-neutral-color: $geekblue-4;
$dot_indicator-positive-color: $green-5;
$dot_indicator-warning-color: $gold-3;

// INPUT
$input-padding: 22px 15px;

//INPUT BIG
$input-big-border-radius: 2px;
$input-big-border: 2px dashed $grey-4;
$input-big-color: $font-color-light;
$input-big-width: 100%;
$input-big-hover-border: 2px dashed $blue-4 !important;
$input-big-hover-box-shadow: $button-option-hover-box-shadow;

// INPUT UNDERLINED
$input-underlined-border: 1px solid $grey-7;
$input-underlined-color: $grey-7;

// LOADING MODAL
$loading_modal-background: $grey-1;
$loading_modal-description-color: $blue-6;
$loading_modal-description-font_size: $grey-7;
$loading_modal-height: 100%;
$loading_modal-title-color: $blue-6;
$loading_modal-title-font-size: 20px;
$loading_modal-width: 100%;

// PAYMENT REQUEST
$payment_request-date-font_size: 12px;
$payment_request-error-color: $red-6;
$payment_request-success-color: $green-6;

// DROPDOWN
$dropdown-width: 40px;
$dropdown-height: 20px;

// SIDEBAR
$sidebar-active-color: $blue-6;
$sidebar-active-border: 5px solid $sidebar-active-color;
$sidebar-current_wallet-color: $grey-1;
$sidebar-label-color: $grey-6;
$sidebar-label-font_size: 9px;
$sidebar-link-color: $grey-7;
$sidebar-logo-height: 30px;
$sidebar-logo-size: 30px;
$sidebar-logo-width: 30px;
$sidebar-name-color: $grey-9;
$sidebar-name-font_size: 20px;
$sidebar-net_status-font-size: 12px;
$sidebar-settings-border: 1px solid $grey-4;
$sidebar-settings-icon-color: $grey-8;
$sidebar-settings-icon-size: 20px;
$sidebar-status-font_size: 8px;
$sidebar-synced-color: $grey-8;
$siderbar-mainnet-color: $grey-6;

// SPINNER
$spinner-height: 80px;
$spinner-main-border: 2px dotted $grey-5;
$spinner-secondary-border: 3px solid $purple-6;
$spinner-width: 80px;

// TOAST
$toast-background: $grey-7;
$toast-color: $grey-1;
$toast-font_size: 14px;

// TOP BAR
$top_bar-background: $grey-1;
$top_bar-border: 1px solid $grey-5;
$top_bar-link-active-border: 2px solid $blue-6;
$top_bar-link-active-color: $grey-8;
$top_bar-link-default-color: $grey-5;

// TRANSACTION

// TRANSACTION CONFIRMED
$transaction-confirmed-address_number-color: $grey-7;
$transaction-confirmed-block-color: $grey-5;
$transaction-confirmed-border: 1px solid $grey-2;
$transaction-confirmed-date-color: $grey-7;
$transaction-confirmed-error-color: $red-6;
$transaction-confirmed-origin-color: $grey-5;
$transaction-confirmed-success-color: $green-6;
$transaction-confirmed-wit-color: $grey-5;

//TRANSACTION PENDING
$transaction-pending-border: 1px solid $grey-2;
$transaction-pending-negative-color: $red-2;
$transaction-pending-number-color: $grey-5;
$transaction-pending-origin-color: $grey-2;
$transaction-pending-positive-color: $green-2;
$transaction-pending-status-color: $grey-5;
$transaction-pending-timelocked-color: $blue-4;
$transaction-pending-unconfirmed-color: $yellow-2;
$transaction-pending-vesting-color: $grey-2;
$transaction-pending-wit-color: $grey-2;

// WRAPPER
$wrapper-caption-color: $grey-2;
$wrapper-content-background: $grey-1;
$wrapper-content-border: 1px solid $grey-3;
$wrapper-title-color: $grey-5;
