@import "app/renderer/ui/colors";

$background-color: $grey-2;

$button-navigation-background: none;
$button-navigation-border: 1px solid $grey-6;
$button-navigation-color: $grey-9;
$button-navigation-height: 100%;
$button-navigation-width: auto;

$button-link-background: none;
$button-link-border: 0;
$button-link-color: $blue-6;
$button-link-height: auto;
$button-link-width: auto;

$button-action-background: $blue-6;
$button-action-border_radius: 2px;
$button-action-shadow_color: rgba(0, 0, 0, 0.2);
$button-action-shadow: 0 2px 5px 0 $button-action-shadow_color;
$button-action-color: $grey-1;
$button-action-font_weight: 600;
$button-action-disabled-background: $grey-4;

$card-default-shadow: 0 0 5px 0 $grey-3;

$input-big-border: 1px dashed $grey-8;
$input-big-height: 60px;
$input-big-width: 100%;

$input-underlined-border: 1px solid $grey-8;

$loading_modal-background: rgba(255, 255, 255, 1);
$loading_modal-height: 100%;
$loading_modal-width: 100%;
$loading_modal-title-color: $blue-6;
$loading_modal-title-font-size: 20px;

$loading_modal-description-font_size: $grey-8;
$loading_modal-description-color: $blue-6;
$payment_request-success-color: $green-6;
$payment_request-error-color: $red-6;
$payment_request-date-font_size: 12px;

$popover-width: 40px;
$popover-height: 20px;

$spinner-main-border: 2px dotted $grey-6;
$spinner-secondary-border: 3px solid $purple-6;
$spinner-height: 80px;
$spinner-width: 80px;

$top_bar-border: 1px solid $grey-6;
$top_bar-link-default-color: $grey-6;
$top_bar-link-active-border: 2px solid $blue-6;
$top_bar-link-active-color: $grey-9;
$top_bar-background: $grey-1;

$transaction-confirmed-border: 1px solid $grey-2;
$transaction-confirmed-success-color: $green-6;
$transaction-confirmed-error-color: $red-6;
$transaction-confirmed-wit-color: $grey-6;
$transaction-confirmed-origin-color: $grey-6;
$transaction-confirmed-address_number-color: $grey-8;
$transaction-confirmed-date-color: $grey-8;
$transaction-confirmed-block-color: $grey-6;

$transaction-pending-border: 1px solid $grey-2;
$transaction-pending-unconfirmed-color: $yellow-2;
$transaction-pending-timelocked-color: $blue-4;
$transaction-pending-status-color: $grey-6;
$transaction-pending-vesting-color: $grey-2;
$transaction-pending-positive-color: $green-2;
$transaction-pending-negative-color: $red-2;

$transaction-pending-wit-color: $grey-2;
$transaction-pending-origin-color: $grey-2;
$transaction-pending-number-color: $grey-6;

$wrapper-title-color: $grey-6;
$wrapper-caption-color: $grey-2;
$wrapper-content-background: $grey-1;
$wrapper-content-border: 1px solid $grey-3;

$toast-background: $grey-8;
$toast-color: $grey-1;
$toast-font_size: 14px;

$sidebar-active-color: $blue-6;
$sidebar-active-border: 5px solid $sidebar-active-color;
$sidebar-current_wallet-color: $grey-1;
$sidebar-label-color: $grey-7;
$sidebar-label-font_size: 9px;
$sidebar-link-color: $grey-8;
$sidebar-logo-height: 30px;
$sidebar-logo-size: 30px;
$sidebar-logo-width: 30px;
$sidebar-name-color: $grey-10;
$sidebar-name-font_size: 20px;
$sidebar-net_status-font-size: 12px;
$sidebar-settings-border: 1px solid $grey-4;
$sidebar-settings-icon-color: $grey-9;
$sidebar-settings-icon-size: 20px;
$sidebar-status-font_size: 8px;
$sidebar-synced-color: $grey-9;
$siderbar-mainnet-color: $grey-7;

$dot_indicator-negative-color: $red-5;
$dot_indicator-neutral-color: $geekblue-4;
$dot_indicator-positive-color: $green-5;
$dot_indicator-warning-color: $gold-3;
