:local {
  @import "app/renderer/ui/theme";

  .title {
    color: $tooltip_title-color;
    font-size: $tooltip_title-font_size;
    font-weight: $tooltip_title-font_weight;
    padding-bottom: 1em;
  }

  .text {
    color: $tooltip_text-color;
    font-size: $tooltip_text-font_size;
    font-style: italic;
    font-weight: $tooltip_text-font_size;
    margin-bottom: 1.5em;
  }

  .disabled {
    display: none;
  }

  .loading {
    background: $grey-1;
    opacity: 0.8;
    z-index: -1;
  }

  .active {
    z-index: 1;
  }

  .spinner {
    background: $grey-1;
    height: 40px;
    width: 40px;
  }

  .new-payment-request {
    margin: 2em;
    padding: 1em;
    width: 60vw;
  }

  .form {
    display: flex;
    flex-flow: column nowrap;
    padding: 2.5em;

    .form-row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      margin: 5px;
    }

    .submit {
      align-self: flex-end;
    }

    .label {
      align-self: center;
      color: $grey-9;
      font-weight: 600;
      justify-content: flex-start;
    }

    .label-input {
      align-self: center;
      height: 48px;
      margin-left: 2.5em;
      width: 85%;
    }

    .amount-input {
      height: 48px;
      margin-left: 1.2em;
      padding: 1.5em;
      width: 10vw;
    }

    .date-input {
      height: 48px;
      width: 14vw;
    }

    .input-check {
      margin: 20px;
    }
  }

  .payment-requests {
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    margin: 2em;
    padding: 1em;
    width: 60vw;
  }

  .qr {
    text-align: center;
  }

  .pending {
    margin: 20px;
  }
}
