:local {
  @import "app/renderer/ui/theme";

  .title {
    color: $tooltip_title-color;
    font-size: $tooltip_title-font_size;
    font-weight: $tooltip_title-font_weight;
    padding-bottom: 1em;
  }

  .text {
    color: $tooltip_text-color;
    font-size: $tooltip_text-font_size;
    font-style: italic;
    font-weight: $tooltip_text-font_size;
    margin-bottom: 1.5em;
  }

  .disabled {
    display: none;
  }

  .loading {
    background: $grey-1;
    opacity: 0.8;
    z-index: -1;
  }

  .active {
    z-index: 1;
  }

  .spinner {
    background: $grey-1;
    height: 40px;
    width: 40px;
  }

  .new-payment-request {
    min-width: 400px;

    .form {
      align-items: flex-start;
      display: flex;
      flex-flow: column nowrap;
      min-width: 80%;
      padding: 35px;

      .form-row {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin: 7px;
        min-width: 100%;
      }

      .label {
        align-self: center;
        color: $grey-9;
        font-weight: 600;
        justify-content: flex-start;
      }

      .label-input {
        align-self: center;
        height: 48px;
        margin-left: 35px;
        max-width: 90%;
      }

      .amount-input {
        height: 48px;
        margin-left: 17px;
        max-width: 40%;
      }

      .switch {
        margin-left: 7px;
      }

      .date-input {
        height: 48px;
        margin-left: 10px;
        max-width: 18%;
      }

      .submit {
        align-self: flex-end;
      }
    }
  }

  .payment-requests {
    margin-top: 30px;
    padding: 5px;
    width: 100%;
  }

  .qr {
    text-align: center;
  }

  .about {
    display: none;
  }

  .pending {
    margin: 20px;
  }
}
