:local {
  @import "app/renderer/ui/theme";

  .left {
    display: grid;
    grid-column: 1;
    grid-gap: 2em;
  }

  .right {
    grid-column: 2;

    .title {
      font-weight: $tab_receive-title-font_weight;
      margin-bottom: 1.5em;
    }

    .text {
      color: $tab_receive-text-color;
      font-size: $tab_receive-font_size;
      font-style: italic;
      font-weight: $tab_receive-font_weight;
      line-height: 1.5;
      margin-bottom: 1.5em;
    }
  }

  .new-payment-request {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr auto;
    padding: 40px;

    .loading {
      background: $grey-1;
      height: 100%;
      opacity: 0.8;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .active {
      z-index: 1;
    }

    .spinner {
      background: $grey-1;
      height: 80px;
      left: 50%;
      margin: 0 auto;
      margin-left: -40px;
      margin-top: -40px;
      position: absolute;
      top: 50%;
      width: 80px;
    }

    .form {
      align-items: center;
      display: grid;
      grid-column-end: 3;
      grid-column-start: 1;
      grid-gap: 0.5em 1em;
      grid-template-columns: auto auto 1fr 1fr;
      position: relative;

      .label {
        color: $grey-9;
        font-weight: 600;
        grid-column: 1;
        text-align: right;
      }

      .label-input {
        grid-column-end: 5;
        grid-column-start: 2;
        height: 48px;
        padding: 12px 14px 10px 14px;
      }

      .amount-input {
        grid-column-end: 2;
        grid-column-start: 4;
        height: 48px;
        padding: 12px 64px 10px 14px;
        width: 180px;
      }

      .date-input {
        grid-column-end: 2;
        grid-column-start: 4;
        height: 48px;
        padding: 12px 14px 10px 14px;
        width: 235px;
      }
    }

    .error {
      grid-column: 1;
      grid-row: 2;
    }

    .submit {
      grid-column: 2;
      grid-row: 2;
    }

    .qr {
      align-content: center;
      display: grid;
      padding: 4em;
      text-align: center;
    }
  }

  .list {
    max-height: 450px;
  }
}
