:local {
  @import "app/renderer/ui/theme";

  .title {
    color: $tooltip_title-color;
    font-size: $tooltip_title-font_size;
    font-weight: $tooltip_title-font_weight;
    margin-bottom: 1.5em;
  }

  .text {
    color: $tooltip_text-color;
    font-size: $tooltip_text-font_size;
    font-style: italic;
    font-weight: $tooltip_text-font_size;
    line-height: 1.5;
    margin-bottom: 1.5em;
  }

  .new-payment-request {
    padding: 2em 0 0 4em;

    .loading {
      background: $grey-1;
      opacity: 0.8;
      z-index: -1;
    }

    .active {
      z-index: 1;
    }

    .spinner {
      background: $grey-1;
      height: 80px;
      width: 80px;
    }

    .form {
      display: flex;
      flex-flow: column nowrap;

      .form-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin: 10px;
      }

      .label {
        align-self: center;
        color: $grey-9;
        font-weight: 600;
        justify-self: flex-start;
      }

      .label-input {
        align-self: center;
        height: 48px;
        margin-left: 30px;
        width: 100%;
      }

      .amount-input {
        align-self: center;
        height: 48px;
        margin-left: 12px;
        width: 180px;
      }

      .date-input {
        align-self: center;
        height: 48px;
        width: 200px;
      }

      .input-check {
        align-self: center;
        margin-left: 13px;
      }
    }

    .submit {
      margin: 30px 5px 5px 5px;
    }

    .qr {
      text-align: center;
    }
  }

  .pending {
    margin: 20px;
  }
}
