:local {
  @import "app/renderer/ui/colors";
  @import "app/renderer/ui/theme";

  .content {
    padding: $card-default-padding;
  }

  .text {
    color: $grey-8;
    padding: 5px 0 5px 0;
  }

  .links {
    height: 230px;
    margin: 20px 0 30px 0;
    overflow: auto;
    padding-right: 10px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $grey-2;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $grey-5;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $grey-6;
  }

  .link {
    height: 60px;
  }

  .listItem {
    border-color: $blue-6;
    color: $blue-6;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
