:local {
  @import "app/renderer/ui/colors";

  .recommended {
    border-color: $blue-6;
    color: $blue-6;
    height: 70px;
  }

  .text {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 2em;
  }
}
