:local {
  @import "app/renderer/ui/theme";

  .modal {
    align-items: center;
    background: $loading_modal-background;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: $loading_modal-height;
    position: absolute;
    width: $loading_modal-width;
    z-index: 10;

    .title {
      color: $loading_modal-title-color;
      font-size: $loading_modal-title-font_size;
      grid-row: 2;
      text-align: center;
      vertical-align: middle;
    }

    .description {
      color: $loading_modal-description-color;
      font-size: $loading_modal-description-font_size;
      grid-row: 4;
      text-align: center;
      vertical-align: middle;
    }
  }

  .spinner {
    grid-row: 3;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }
}
