:local {
  @import "app/renderer/ui/colors";

  .balances {
    background: none;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
  }

  .line {
    align-items: center;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
    margin: 1em;

    .text {
      color: $grey-5;
    }

    .wit {
      color: $grey-3;
      font-size: 10px;
      font-weight: bold;
    }
  }
}
