:local {
  @import "app/renderer/ui/theme";

  .button {
    background: $button-navigation-border;
    border: $button-navigation-border;
    color: $button-navigation-color;
    cursor: pointer;
    font: inherit;
    height: $button-navigation-height;
    padding: 0;
    width: $button-navigation-width;
  }
}
