:local {
  @import "app/renderer/ui/theme";

  .button {
    background: $button_navigation-background;
    border-color: $button_navigation-border-color;
    border-radius: 0;
    border-style: $button_navigation-border-style;
    border-width: 1px 1px 0 0;
    color: $button_navigation-color;
    cursor: pointer;
    font: inherit;
    height: $button_navigation-height;
    padding: 0;
    width: $button_navigation-width;

    &:last-of-type {
      border-right: 0;
    }

    &:hover,
    &:focus {
      border-color: $button_navigation-border-color;
    }

    &:active {
      background: $button_navigation-hover-background;
    }
  }
}
