:local {
  .editor div {
    padding: 15px !important;
  }

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .editor-area,
  .parameters-area {
    padding: 2em;
  }
}
