:local {
  .editor div {
    padding: 15px !important;
  }

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
  }

  .parameters-area {
    padding: 2em 2em 2em 3em;
    width: 50vw;
  }

  .editor-area {
    padding: 2em 2em 2em 3em;
    width: 50vw;
  }
}
