:local {
  @import "app/renderer/ui/theme";

  .content {
    padding: 2em;
  }

  .title {
    color: $font-color-dark;
    font-size: 1.5em;
    font-weight: 500;

    &::after {
      background: $sheikah-gradient;
      content: "";
      display: block;
      height: 2px;
      margin-top: 15px;
      width: 100px;
    }
  }

  .channels {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 30px 5px 5px 5px;

    .list-item {
      width: 30vw;
      background: $grey-1;
      box-shadow: $default-box-shadow;
      padding: 2em;
      margin: 0.5em;
      position: relative;
      transition: box-shadow 0.1s ease;

      a {
        color: $blue-6;
        cursor: pointer;
        display: block;
        font-size: 1.3em;
        font-weight: 500;
        margin-bottom: 10px;
        text-decoration: none;
      }

      .back {
        bottom: -10px;
        filter: invert(100%) blur(1px);
        height: 100px;
        opacity: 0.1;
        position: absolute;
        right: -25px;
        transition: transform 0.2s ease;
        width: 100px;
      }

      &:hover {
        box-shadow: $default-box-shadow-active;

        a {
          text-decoration: underline;
        }

        img {
          transform: rotate(-15deg) scale(1.1);
        }
      }
    }
  }
}

