:local {
  @import "app/renderer/ui/theme";

  a {
    color: $blue-6;
    cursor: pointer;
    display: block;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: none;
  }

  .content {
    padding: 20px;
  }

  .title {
    color: $font-color-dark;
    font-size: 1.5em;
    font-weight: 500;
    padding: 10px;

    &::after {
      background: $sheikah-gradient;
      content: "";
      display: block;
      height: 2px;
      margin-top: 15px;
      width: 100px;
    }
  }

  .channels {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style-type: none;

    .list-item {
      background: $grey-1;
      box-shadow: $default-box-shadow;
      margin: 10px;
      max-width: 375px;
      padding: 30px;
      position: relative;
      transition: box-shadow 0.1s ease;

      &:hover {
        box-shadow: $default-box-shadow-active;

        a {
          text-decoration: underline;
        }

        img {
          transform: rotate(-15deg) scale(1.1);
        }
      }

      .back {
        bottom: -20px;
        filter: invert(100%) blur(1px);
        height: 100px;
        opacity: 0.15;
        position: absolute;
        right: -25px;
        transition: transform 0.2s ease;
        width: 100px;
      }
    }
  }

  @media screen and (max-width: 1009px) {
    .list-item {
      background: $grey-1;
      box-shadow: $default-box-shadow;
      margin: 10px;
      padding: 15px;
      position: relative;
      transition: box-shadow 0.1s ease;
      width: 250px;
    }
  }
}
