// White & Grey
$white: #fff;
//TODO: update color palete
$alpha-grey: #F3E9FB;
$grey-0: #e9e9e9;
$color-alert: #f4f4f5; //change for grey-0
$grey-1:#c5c2c2;
$grey-2: #b3b3b3;
$grey-3: #909090;
$color-alert: #909399; //change for grey-3
$grey-4: #808080;
$grey-5: #4d4d4d;
$grey-6: #333;
$grey-7: #2c2c2c;
$black: #1a1a1a;
// Blue
$alpha-blue: #f8efff85;
$alpha-blue-1: #1a6dfbb6;
$blue-0: #d2dffb;
$blue-1: #F3E9FB;
$blue-2: #d4baff;
$blue-3: #91d5ff;
$blue-4: #69c0ff;
$blue-5: #40a9ff;
//TODO: update color palete
$blue-6: #9B51E0;
// Red
$alpha-red: #fa737334;
$red-01: #fef0f0;
$red-0: #f56c6c;
$red-1: #f55;
$red-2: #c23c3c;
$red-3: #f5222d;
// Yellow
$yellow: #ffec3d;
// Green
$green-01: #f0f9eb;
$green: #52c41a;
$color-alert: #67c23a;//change this for green
$green-1: #42b983;
// Purple
$purple-6: #722ed1;
//Orange
$orange-01: #fdf6ec;
$orange: #e6a23c;


