// White & Grey
$white: #fff;
$grey-0: #f6f6f9;
$grey-1: #d9d8e3;
$grey-2: #bcbbce;
$grey-3: #9e9db9;
$grey-4: #8280a4;
$grey-5: #66648c;
$grey-6: #504f6e;
$grey-7: #3b3950;
$grey-8: #252433;
$alt-grey-0: #e3e2e9;
$alt-grey-1: #c6c5d3;
$alt-grey-2: #aaa8bd;
$alt-grey-3: #716d92;
$alt-grey-4: #5a5775;
$alt-grey-4-alt: #504d6a;
$alt-grey-5: #444258;
$alt-grey-6: #2d2c3a;
$black: #1a1a1a;
$alpha-grey: #c4c4c480;
// Dark theme
$grey-dark-0: #dcdfe6;
$grey-dark-1: #d6d6d6;
$grey-dark-2: #9e9db9;
$grey-dark-3: #ababab;
$grey-dark-4: #8f8f8f;
$grey-dark-5: #4f4e5ae8;
$grey-dark-6: #4f4e5a;
$grey-dark-7: #403f4c;
$grey-dark-8: #3e3d4a;
$grey-dark-9: #303133;
$grey-dark-10: #2d2c3a;
$grey-dark-11: #f2c84c16;
// Blue
$blue-0: #56ccf2;
$blue-1: #2d9cdb;
$alt-blue: #ebeef5;
// Purple
$alpha-purple: #f9f5fe;
$alt-alpha-purple: #f5eefc;
$alt-purple-1: #d7beee;
$alt-purple-2: #e0c3fa;
$purple-0: #e6d4f7;
$purple-1: #cda8f0;
$purple-2: #b47de8;
$purple-3: #9b51e0;
$purple-4: #8327d8;
$purple-5: #681fad;
$purple-6: #4e1782;
$purple-7: #340f57;
$purple-8: #1a082b;
$purple-dark-3: #8260d8;
// option-1
// $purple-dark: #4d00a1;
// option 2
$purple-dark: #9478dd;
// option-3
// $purple-dark: #823bd3;
$purple-dark-1: #a58fdf;
$purple-dark-2: #b09ce4;
$purple-dark-4: #b4a1e7;
// Red
$red-0: #fbdfdf;
$red-1: #f6b2b2;
$red-2: #f08484;
$red-3: #eb5757;
$red-4: #e52929;
$red-5: #c41717;
$red-6: #961212;
$red-7: #690c0c;
$red-8: #3b0707;
// Yellow
$yellow-0: #fcf4d9;
$yellow-1: #f9e7ae;
$yellow-2: #f5d77a;
$yellow-3: #f2c94c;
$yellow-4: #eeba1b;
$yellow-5: #c89a0f;
$yellow-6: #98750b;
$yellow-7: #695108;
$yellow-8: #392c04;
// Green
$green-0: #def8e9;
$green-1: #b4eecd;
$green-2: #8ae5b1;
$green-3: #61dc95;
$green-4: #37d279;
$green-5: #27ae60;
$green-6: #1e854a;
$green-7: #155c33;
$green-8: #0b321c;
$green-dark-1: #84c265;
$green-dark: #559f74;
// Orange
$orange-0: #fdf6ec;
$orange-1: #fcf3d9;
$orange-2: #e6a23c;
