// White & Grey
$white: #fff;
//TODO: update color palete
$grey-0: #F6F6F9;
$grey-1: #D9D8E3;
$grey-2: #BCBBCE;
$grey-3: #9E9DB9;
$grey-4: #8280A4;
$grey-5: #66648C;
$grey-6: #514F6E;
$grey-7: #3B3950;
$grey-8: #252433;
$alt-grey-0: #E3E2E9;
$alt-grey-1: #C6C5D3;
$alt-grey-2: #AAA8BD;
$alt-grey-3: #716D92;
$alt-grey-4: #5A5775;
$alt-grey-5: #444258;
$alt-grey-6: #2D2C3A;
$black: #1a1a1a;
// Blue
$blue-0: #56CCF2;
$blue-1: #2D9CDB;
//TODO: update color palete
$alpha-purple: #F3E9FB;
$purple-0: #E6D4F7;
$purple-1: #CDA8F0;
$purple-2: #B47DE8;
$purple-3: #9B51E0;
$purple-4: #8327D8;
$purple-5: #681FAD;
$purple-6: #4E1782;
$purple-7: #340F57;
$purple-8: #1A082B;
// Red
$red-0: #FBDFDF;
$red-1: #F6B2B2;
$red-2: #F08484;
$red-3: #EB5757;
$red-4: #E52929;
$red-5: #C41717;
$red-6: #961212;
$red-7: #690C0C;
$red-8: #3B0707;
// Yellow
$yellow-0: #FCF4D9;
$yellow-1: #F9E7AE;
$yellow-2: #F5D77A;
$yellow-3: #F2C94C;
$yellow-4: #EEBA1B;
$yellow-5: #C89A0F;
$yellow-6: #98750B;
$yellow-7: #695108;
$yellow-8: #392C04;
// Green
$green-0: #DEF8E9;
$green-1: #B4EECD;
$green-2: #8AE5B1;
$green-3: #61DC95;
$green-4: #37D279;
$green-5: #27AE60;
$green-6: #1E854A;
$green-7: #155C33;
$green-8: #0B321C;
//Orange
$orange-0: #fdf6ec;
$orange-1: #e6a23c;


