:global {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

  @import "theme";
  @import "colors";
  @import "reset";
  @import "fonts";
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

  * {
    box-sizing: border-box;
  }

  p {
    @extend %font16;

    color: $font-color-dark;
  }

  textarea {
    font-family: $font-family;
    outline: none;
  }

  pre,
  .pre-alike {
    font-family: "Lucida Console", Monaco, monospace;
  }

  body {
    font-family: $font-family;
  }

  a[target="_blank"] {
    font-style: italic;
  }
}