/* stylelint-disable selector-max-type */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import 'theme';
@import 'colors';
@import 'reset';
@import 'fonts';

* {
  box-sizing: border-box;
}

p {
  @extend %font16;

  color: var(--text-medium-emphasis);
}

textarea {
  font-family: $font-family;
  outline: none;
}

pre,
.pre-alike {
  font-family: 'Lucida Console', Monaco, monospace;
}

html,
body {
  background-color: var(--app-background-color);
  font-family: $font-family;
}

a[target='_blank'] {
  @extend %font16;

  font-style: italic;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  user-select: none;
}

.capitalize {
  text-transform: capitalize;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
}

.submit {
  display: flex;
  justify-content: flex-end;
}
