@import './theme';

$--color-success: #52c41a;
$--color-primary: $purple-4;
$--color-danger: #f08484;
$--color-warning: $yellow-3;

.ep-button {
  &.dark {
    background-color: var(--button-default-dark-background);
    border-color: var(--button-default-dark-border);
    color: var(--button-default-dark-text);

    &:hover,
    &:focus {
      background-color: var(--button-default-dark-background-hover);
      border-color: var(--button-default-dark-border-hover);
      color: var(--button-default-dark-text-hover);
    }

    &:active {
      background: var(--button-default-dark-background-active);
      border-color: var(--button-default-dark-border-active);
      color: var(--button-default-dark-text-active);
      outline: none;
    }
  }

  &.big {
    height: 60px;
    width: 100%;
  }
}

.el-button--primary {
  &.dark {
    background-color: var(--button-dark-background);
    border-color: var(--button-dark-border);
    color: var(--button-dark-text);

    &:hover,
    &:focus {
      border-color: var(--button-dark-border-hover);
      color: var(--button-dark-text-hover);
      background-color: $alpha-purple;
    }

    &:active {
      background-color: var(--button-dark-background-active);
      border-color: var(--button-dark-border-active);
      color: var(--button-dark-text-active);
      outline: none;
    }
  }
}

/* icon font path, required */
// todo: should this be commented?
// $--font-path: '~element-ui/lib/theme-chalk/fonts';
// @import 'element-plus/packages/theme-chalk/src/index';

.el-input {
  .el-input__wrapper {
    background-color: var(--input-background);
  }

  &.key-input {
    .el-input__inner {
      padding-left: 24px;
    }
  }

  .el-input-group__append {
    border-left: 0;
  }

  &.big .el-input__inner {
    height: 60px;
  }

  &.key .el-input__inner {
    max-width: 160px;
    padding-left: 24px;
  }
}

.el-dialog__wrapper {
  .el-dialog {
    .el-dialog__header {
      padding: 24px;
      padding-bottom: 14px;
    }

    .el-dialog__body {
      padding: 16px 24px;

      .el-form-item {
        .el-form-item__label {
          display: flex;
          line-height: 1.5;
          word-break: break-word;
        }
      }
    }
  }
}

.el-button {
  &.big {
    height: 60px;
    width: 100%;
  }

  &.el-button--primary {
    font-size: 15px;
    font-weight: bold;
    background-color: var(--button-primary-background);
    border-color: var(--button-primary-border);
    color: var(--button-primary-text);
    font-size: 15px;
    font-weight: bold;

    &.is-disabled {
      background-color: var(--button-primary-background-disabled);
      border-color: var(--button-primary-border-disabled);
      color: var(--button-primary-text);

      &:hover,
      &:focus {
        background-color: var(--button-primary-background-disabled);
        border-color: var(--button-primary-border-disabled);
        color: var(--button-primary-text-hover);
      }
    }

    &:active {
      outline: none;
    }
  }

  &.el-button--danger {
    font-weight: bold;

    &.is-plain {
      background: transparent;

      &:hover,
      &:focus {
        background: transparent;
        opacity: 0.7;
      }
    }
  }
}

.marketplace {
  &.el-pagination {
    .el-pager {
      color: var(--pagination-number);
    }

    .el-pager li.active {
      background-color: var(--marketplace-pagination-active);
      color: var(--pagination-number);
    }

    .el-pager li:hover {
      background-color: var(--marketplace-pagination-active);
      color: var(--pagination-number);
    }

    button:hover {
      background-color: var(--marketplace-pagination-active);
      color: var(--pagination-number);
    }
  }
}

.upload-container {
  margin-left: 32px;
  margin-right: 32px;

  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
    }
  }
}

.el-switch {
  .el-switch__label {
    font-weight: 400;
  }
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}

.el-picker-panel__footer {
  border-top: var(--date-picker-border);

  .el-button--text {
    display: none;
  }
}

.el-picker-panel {
  border: none;
}

.el-year-table td.disabled .cell {
  opacity: var(--disabled-picker-opacity);
}

.el-month-table td.disabled .cell {
  opacity: var(--disabled-picker-opacity);
}

.el-popper {
  .popper__arrow {
    display: none;
  }
}

.el-time-panel__content::after,
.el-time-panel__content::before {
  border-bottom: var(--date-picker-border);
  border-top: var(--date-picker-border);
}

.el-date-table td.disabled {
  div {
    opacity: var(--disabled-picker-opacity);
  }
}

.el-pagination {
  button:disabled {
    background-color: inherit;
  }

  .el-pager li.active {
    border-radius: 12%;
  }

  .el-pager li:hover {
    border-radius: 12%;
    opacity: 0.7;
  }

  .el-pager li {
    background-color: inherit;
    margin: 4px;
  }

  .btn-next {
    margin: 4px;
  }

  .btn-prev {
    margin: 4px;
  }
}

.el-tooltip__popper {
  max-width: 500px;
}

.el-dropdown-menu {
  display: block;
  font-weight: bold;
  padding: 8px 0;

  .el-dropdown-menu__item:not(.is-disabled):hover {
    display: block;
  }

  &.marketplace .el-dropdown-menu__item:not(.is-disabled):hover {
    display: block;
  }
}
