@import './colors';
@import './theme';

$--color-primary: $purple-4;
$--color-success: #52c41a;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

.el-input--mini .el-input__inner {
  background-color: $black;
  border-color: #c5c2c2;
  color: #c5c2c2;
}

.el-input {
  .el-input__inner {
    border: $input_border;
    color: $grey-5;

    &::placeholder {
      color: $grey-4;
    }

    &:hover {
      border-color: $grey-5;
    }

    &:focus {
      border-color: $input_border_color__active;
    }
  }

  .el-input-group__append {
    background-color: $white;
    border: $input_border;
    border-left: 0;
    color: $grey-4;
  }

  &.big .el-input__inner {
    height: 60px;
  }

  &.key .el-input__inner {
    max-width: 160px;
    padding-left: 24px;
  }
}

.el-dialog {
  .el-dialog__header {
    padding: 24px;
    padding-bottom: 14px;
  }

  .el-dialog__body {
    padding: 16px 0 16px 24px;
  }
}

.el-textarea {
  .el-textarea__inner {
    border: $input_border;
    color: $grey-5;

    &::placeholder {
      color: $grey-4;
    }

    &:hover {
      border-color: $grey-5;
    }

    &:focus {
      border-color: $input_border_color__active;
    }
  }
}

.el-button {
  .el-button--primary {
    &.dark {
      background-color: $white;
      border-color: $white;
      color: $purple-4;

      &:hover,
      &:focus {
        border-color: $alpha-purple;
        color: $purple-3;
        // background-color: $alpha-purple;
      }

      &:active {
        background-color: $white;
        border-color: $white;
        color: $purple-4;
        outline: none;
      }
    }
  }

  &.big {
    height: 60px;
    width: 100%;
  }

  &.el-button--primary {
    background-color: $purple-3;
    border-color: $purple-4;
    color: #fff;
    font-size: 15px;
    font-weight: bold;

    &:hover,
    &:focus {
      background-color: $purple-2;
      border-color: $purple-3;
    }

    &:active {
      background-color: $purple-3;
      border-color: $purple-4;
      color: #fff;
      outline: none;
    }
  }

  &.el-button--default {
    color: $alt-grey-3;
    font-size: 15px;
    font-weight: bold;

    &:hover,
    &:focus {
      background: $alpha-purple;
      border-color: $alpha-purple;
      color: $purple-3;
    }
  }
}

.el-button--primary {
  &.dark {
    background-color: $white;
    border-color: $white;
    color: $purple-4;

    &:hover,
    &:focus {
      background: $alpha-purple;
      border-color: $alpha-purple;
      color: $purple-3;
    }

    &:active {
      background-color: transparent;
      border-color: $white;
      color: $white;
      outline: none;
    }
  }
}

.el-button--default {
  &.dark {
    background-color: $purple-4;
    border-color: $white;
    color: $white;

    &:hover,
    &:focus {
      background-color: $purple-3;
      border-color: $white;
      color: $white;
    }

    &:active {
      background: $white;
      border-color: $purple-4;
      color: $purple-4;
      outline: none;
    }
  }

  &.big {
    height: 60px;
    width: 100%;
  }
}

.el-popover {
  color: $red-2;

  &.error-text {
    color: $red-2;
  }
}

.marketplace {
  &.el-pagination {
    .el-pager li.active {
      color: rgb(255, 42, 127);
    }

    .el-pager li:hover {
      color: rgb(255, 42, 127);
    }

    button:hover {
      color: rgb(255, 42, 127);
    }
  }
}

@import '~element-ui/packages/theme-chalk/src/index';

.el-pagination {
  button:disabled {
    background-color: inherit;
  }

  .el-pager li.active {
    background-color: inherit;
  }

  .el-pager li {
    background-color: inherit;
  }

  .btn-next {
    background-color: inherit;
  }

  .btn-prev {
    background-color: inherit;
  }
}

.el-dropdown-menu {
  background-color: $white;
  display: block;
  font-weight: bold;
  padding: 8px 0;

  .el-dropdown-menu__item:not(.is-disabled):hover {
    color: $purple-4;
    display: block;
  }

  &.marketplace .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: rgba(255, 183, 212, 0.246);
    color: rgb(255, 42, 127);
    display: block;
  }
}
