@import './theme';

$--color-success: #52c41a;
$--color-primary: $purple-4;
$--color-danger: #f08484;
$--color-warning: $yellow-3;
$--el-input-border-color: red;

.ep-button {
  &.dark {
    background-color: var(--button-default-dark-background);
    border-color: var(--button-default-dark-border);
    color: var(--button-default-dark-text);

    &:hover,
    &:focus {
      background-color: var(--button-default-dark-background-hover);
      border-color: var(--button-default-dark-border-hover);
      color: var(--button-default-dark-text-hover);
    }

    &:active {
      background: var(--button-default-dark-background-active);
      border-color: var(--button-default-dark-border-active);
      color: var(--button-default-dark-text-active);
      outline: none;
    }
  }

  &.big {
    height: 60px;
    width: 100%;
  }
}

.el-button {
  padding: 12px;
  height: max-content;
  display: flex;
}

/* icon font path, required */
// todo: should this be commented?
// $--font-path: '~element-ui/lib/theme-chalk/fonts';
// @import 'element-plus/packages/theme-chalk/src/index';

.el-input {
  .el-input-group__append {
    background-color: var(--el-bg-color);
    border: none;
    color: var(--text-high-emphasis);
  }

  .el-input__wrapper {
    padding: 4px 16px;
    background-color: var(--input-background);
  }

  &.key-input {
    .el-input__inner {
      padding-left: 24px;
    }
  }

  .el-input-group__append {
    border-left: 0;
  }

  &.big .el-input__inner {
    height: 54px;
  }

  &.key .el-input__inner {
    max-width: 160px;
    padding-left: 24px;
  }
}
.el-textarea {
  .el-textarea__inner {
    background-color: var(--input-background);
  }
}
.el-dialog__wrapper {
  .el-dialog {
    .el-dialog__header {
      padding: 24px;
      padding-bottom: 14px;
    }

    .el-dialog__body {
      padding: 16px 24px;
    }
  }
}

.el-form-item__error {
  position: relative;
  margin-top: 4px;
  top: 0;
}

.el-button {
  background-color: var(--button-default-background);
  border-color: var(--button-default-border);
  color: var(--button-default-text);

  &:hover,
  &:focus {
    border-color: var(--button-default-border-hover);
    color: var(--button-default-text-hover);
    background-color: var(--button-default-background-hover);
  }

  &:active {
    background-color: var(--button-default-background-active);
    border-color: var(--button-default-border-active);
    color: var(--button-default-text-active);
    outline: none;
  }
  &.big {
    height: 60px;
    width: 100%;
  }

  &.dark {
    background-color: var(--button-dark-background);
    border-color: var(--button-dark-border);
    color: var(--button-dark-text);

    &:hover,
    &:focus {
      background-color: var(--button-dark-background-hover);
      border-color: var(--button-dark-border-hover);
      color: var(--button-dark-text-hover);
    }

    &:active {
      background: var(--button-dark-background-active);
      border-color: var(--button-dark-border-active);
      color: var(--button-default-dark-text-active);
      outline: none;
    }
  }

  &.el-button--danger {
    background-color: var(--output-icon-error);
    border-color: var(--output-icon-error);
    color: var(--button-primary-text);
    &.is-plain {
      color: var(--button-default-text);
      border-color: var(--output-icon-error);
    }
  }

  &.el-button--primary {
    font-size: 15px;
    font-weight: bold;
    background-color: var(--button-primary-background);
    border-color: var(--button-primary-border);
    color: var(--button-primary-text);
    font-size: 15px;
    font-weight: bold;

    &:hover,
    &:focus {
      background-color: var(--button-primary-background-hover);
      border-color: var(--button-primary-border-hover);
      color: var(--button-primary-text-hover);
    }

    &.is-disabled {
      background-color: var(--button-primary-background-disabled);
      border-color: var(--button-primary-border-disabled);
      color: var(--button-primary-text);

      &:hover,
      &:focus {
        background-color: var(--button-primary-background-disabled);
        border-color: var(--button-primary-border-disabled);
        color: var(--button-primary-text-hover);
      }
    }

    &:active {
      outline: none;
    }
    &.dark {
      background-color: var(--button-primary-dark-background);
      border-color: var(--button-primary-dark-border);
      color: var(--button-primary-dark-text);

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &:active {
        background-color: var(--button-primary-dark-background-active);
        border-color: var(--button-primary-dark-border-active);
        color: var(--button-primary-dark-text-active);
        outline: none;
      }
    }
  }

  &.el-button--secondary {
    background-color: var(--button-default-background);
    border-color: var(--button-default-border);
    color: var(--button-default-text);

    &:hover,
    &:focus {
      border-color: var(--button-default-border-hover);
      color: var(--button-default-text-hover);
      background-color: var(--button-default-background-hover);
    }

    &:active {
      background-color: var(--button-default-background-active);
      border-color: var(--button-default-border-active);
      color: var(--button-default-text-active);
      outline: none;
    }
  }

  &.el-button--danger {
    font-weight: bold;

    &.is-plain {
      background: transparent;

      &:hover,
      &:focus {
        background: transparent;
        opacity: 0.7;
      }
    }
  }
}

.upload-container {
  margin-left: 32px;
  margin-right: 32px;

  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
    }
  }
}

.el-switch {
  .el-switch__label {
    font-weight: 400;
  }
  .el-switch__core {
    background: var(--switch-background);
    border: 1px solid var(--switch-border);
  }
  &.dark {
    .el-switch__core {
      background: var(--switch-background);
      border: 1px solid var(--switch-border);
    }
    .el-switch__label {
      color: $white;
      font-weight: 700;
    }
  }
  &.is-checked {
    .el-switch__core {
      background: var(--switch-background-active);
      border: 1px solid var(--switch-background-active);
    }
  }
}

.el-checkbox {
  .el-checkbox__input {
    .el-checkbox__inner {
      border: 1px solid var(--text-high-emphasis);
    }
  }
}

.el-link {
  --el-link-text-color: var(--link-text-color);
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}

.el-picker-panel__footer {
  border-top: var(--date-picker-border);

  .el-button--text {
    display: none;
  }
}

.el-picker-panel {
  border: none;
}

.el-year-table td.disabled .cell {
  opacity: var(--disabled-picker-opacity);
}

.el-month-table td.disabled .cell {
  opacity: var(--disabled-picker-opacity);
}

.el-popper {
  .popper__arrow {
    display: none;
  }
  &.is-light {
    background-color: var(--dropdown-background);
    color: var(--text-high-emphasis);
  }
}

.el-time-panel__content::after,
.el-time-panel__content::before {
  border-bottom: var(--date-picker-border);
  border-top: var(--date-picker-border);
}

.el-date-table td.disabled {
  div {
    opacity: var(--disabled-picker-opacity);
  }
}

.el-pagination {
  display: flex;
  justify-content: center;

  button:disabled {
    background-color: inherit;
  }

  .el-pager li.active {
    border-radius: 12%;
  }

  .el-pager li:hover {
    border-radius: 12%;
    opacity: 0.7;
  }

  .el-pager li {
    background-color: inherit;
    margin: 4px;
  }

  .btn-next {
    margin: 4px;
  }

  .btn-prev {
    margin: 4px;
  }
}

.el-tooltip__popper {
  max-width: 500px;
}

.el-dropdown-menu {
  display: block;
  font-weight: bold;
  background-color: var(--dropdown-background);
  border: none;
  padding: 8px 0;

  .dropdown__icon {
    display: none;
  }
}
