@import './theme';
@import './colors';

$--color-success: #52c41a;
$--color-primary: $purple-4;
$--color-danger: $red-2;
$--color-warning: $yellow-3;

/* icon font path, required */
// todo: should this be commented?
// $--font-path: '~element-ui/lib/theme-chalk/fonts';
// @import 'element-plus/packages/theme-chalk/src/index';
.el-input {
  &.key-input {
    .el-input__inner {
      padding-left: 24px;
    }
  }

  .el-input__inner {
    background-color: var(--input-background);
    border: var(--input-border);
    color: var(--text-medium-emphasis);

    &::placeholder {
      color: var(--text-low-emphasis);
    }

    &:hover {
      border-color: var(--input-color-border-hover);
    }

    &:focus {
      border-color: var(--input-border-color-active);
    }
  }

  .el-input-group__append {
    background: transparent;
    border: var(--input-border);
    border-left: 0;
    color: var(--text-medium-emphasis);
  }

  &.big .el-input__inner {
    height: 60px;
  }

  &.key .el-input__inner {
    max-width: 160px;
    padding-left: 24px;
  }
}

.el-dialog__wrapper {
  .el-dialog {
    background: var(--card-background);

    .el-dialog__header {
      padding: 24px;
      padding-bottom: 14px;

      .el-dialog__title {
        color: var(--text-medium-emphasis);
      }
    }

    .el-dialog__body {
      padding: 16px 24px;

      .el-form-item {
        .el-form-item__label {
          color: var(--text-medium-emphasis);
          display: flex;
          line-height: 1.5;
          word-break: break-word;
        }
      }
    }
  }
}

.el-textarea {
  .el-textarea__inner {
    background-color: var(--input-background);
    border: var(--input-border);
    color: var(--text-medium-emphasis);

    &::placeholder {
      color: var(--text-low-emphasis);
    }

    &:hover {
      border-color: var(--input-color-border-hover);
    }

    &:focus {
      border-color: var(--input-border-color-active);
    }
  }
}

.el-button {
  .el-button--primary {
    &.dark {
      background-color: var(--button-dark-background);
      border-color: var(--button-dark-border);
      color: var(--button-dark-text);

      &:hover,
      &:focus {
        border-color: var(--button-dark-border-hover);
        color: var(--button-dark-text-hover);
        // background-color: $alpha-purple;
      }

      &:active {
        background-color: var(--button-dark-background-active);
        border-color: var(--button-dark-border-active);
        color: var(--button-dark-text-active);
        outline: none;
      }
    }
  }

  &.big {
    height: 60px;
    width: 100%;
  }

  &.el-button--primary {
    background-color: var(--button-primary-background);
    border-color: var(--button-primary-border);
    color: var(--button-primary-text);
    font-size: 15px;
    font-weight: bold;

    &.is-disabled {
      background-color: var(--button-primary-background-disabled);
      border-color: var(--button-primary-border-disabled);
      color: var(--button-primary-text);

      &:hover,
      &:focus {
        background-color: var(--button-primary-background-disabled);
        border-color: var(--button-primary-border-disabled);
        color: var(--button-primary-text-hover);
      }
    }

    &:hover,
    &:focus {
      background-color: var(--button-primary-background-hover);
      border-color: var(--button-primary-border-hover);
      color: var(--button-primary-text-hover);
    }

    &:active {
      background-color: var(--button-primary-background-active);
      border-color: var(--button-primary-border-active);
      color: var(--button-primary-text-active);
      outline: none;
    }
  }

  &.el-button--text {
    color: var(--button-text-color);

    &:hover,
    &:focus {
      color: var(--button-text-hover);
    }
  }

  &.el-button--default {
    background-color: transparent;
    border-color: var(--button-default-border);
    color: var(--button-default-text);
    font-size: 15px;
    font-weight: bold;

    &:hover,
    &:focus {
      background: var(--button-default-background-hover);
      border-color: var(--button-default-border-hover);
      color: var(--button-default-text-hover);
    }
  }

  &.el-button--danger {
    color: var(--button-primary-text);
    font-weight: bold;

    &.is-plain {
      background: transparent;
      border-color: $red-2;

      &:hover,
      &:focus {
        background: transparent;
        border-color: $red-2;
        color: $red-2;
        opacity: 0.7;
      }
    }

    &:hover,
    &:focus {
      color: var(--button-primary-text);
    }
  }
}

.el-button--primary {
  &.dark {
    background-color: var(--button-dark-background);
    border-color: var(--button-dark-border);
    color: var(--button-dark-text);

    &:hover,
    &:focus {
      background: var(--button-dark-background-hover);
      border-color: var(--button-dark-border-hover);
      color: var(--button-dark-text-hover);
    }

    &:active {
      background-color: var(--button-dark-background-active);
      border-color: var(--button-dark-border-active);
      color: var(--button-dark-text-active);
      outline: none;
    }
  }
}

.el-button--default {
  &.dark {
    background-color: var(--button-default-dark-background);
    border-color: var(--button-default-dark-border);
    color: var(--button-default-dark-text);

    &:hover,
    &:focus {
      background-color: var(--button-default-dark-background-hover);
      border-color: var(--button-default-dark-border-hover);
      color: var(--button-default-dark-text-hover);
    }

    &:active {
      background: var(--button-default-dark-background-active);
      border-color: var(--button-default-dark-border-active);
      color: var(--button-default-dark-text-active);
      outline: none;
    }
  }

  &.big {
    height: 60px;
    width: 100%;
  }
}

.marketplace {
  &.el-pagination {
    .el-pager {
      color: var(--pagination-number);
    }

    .el-pager li.active {
      background-color: var(--marketplace-pagination-active);
      color: var(--pagination-number);
    }

    .el-pager li:hover {
      background-color: var(--marketplace-pagination-active);
      color: var(--pagination-number);
    }

    button:hover {
      background-color: var(--marketplace-pagination-active);
      color: var(--pagination-number);
    }
  }
}

.upload-container {
  margin-left: 32px;
  margin-right: 32px;

  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
    }
  }
}

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import '~element-ui/packages/theme-chalk/src/index';

.el-checkbox__label {
  color: var(--text-medium-emphasis);
}

.el-checkbox {
  &.is-checked {
    .el-checkbox__label {
      color: var(--info-title);
    }

    .el-checkbox__inner {
      background-color: var(--info-title);
      border-color: var(--info-title);
    }
  }
}

.el-progress-bar {
  .el-progress-bar__inner {
    background-color: var(--progress-bar);
  }

  .el-progress-bar__outer {
    background-color: var(--progress-color);
  }
}

.el-switch {
  .el-switch__label {
    color: var(--text-low-emphasis);
    font-weight: 400;

    &.is-active {
      color: var(--text-medium-emphasis);
    }
  }

  .el-switch__core {
    background: var(--switch-background);
  }

  &.is-checked {
    .el-switch__core {
      background-color: var(--switch-background-active);
      border-color: var(--switch-background-active);
    }
  }

  &.notification {
    .el-switch__label {
      color: var(--switch-notification-label);

      &.is-active {
        color: var(--switch-notification-label);
      }
    }
  }
}

.el-popover {
  background: var(--tooltip-background);
  border: var(--tooltip-border);
  color: var(--text-medium-emphasis);

  &.error-text {
    color: $red-2;
  }
}

// date picker
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}

.el-time-panel {
  background-color: var(--tooltip-background);
  color: var(--text-medium-emphasis);
}

.el-time-spinner__item:hover:not(.disabled):not(.active) {
  background: var(--date-picker-selected-time);
}

.el-picker-panel__footer {
  background: var(--date-picker-background);
  border-top: var(--date-picker-border);
  color: var(--text-medium-emphasis);

  .el-button--text {
    display: none;
  }
}

.el-picker-panel {
  background: var(--picker-panel-background);
  border: none;
}

.el-year-table td.disabled .cell {
  background-color: var(--disabled-picker-background);
  opacity: var(--disabled-picker-opacity);
}

.el-month-table td.disabled .cell {
  background-color: var(--disabled-picker-background);
  opacity: var(--disabled-picker-opacity);
}

.el-month-table td .cell {
  color: var(--text-medium-emphasis);
}

.el-popper {
  .popper__arrow {
    display: none;
  }
}

.el-picker-panel__body {
  background: var(--tooltip-background);
  color: var(--text-medium-emphasis);
}

.el-button.is-plain:hover,
.el-button.is-plain:focus {
  background-color: var(--button-primary-background-hover);
  border-color: var(--button-primary-background-hover);
  color: var(--button-primary-text-hover);
}

.el-time-spinner__item {
  color: var(--text-medium-emphasis);
}

.el-time-spinner__item.active:not(.disabled) {
  color: var(--text-high-emphasis);
}

.el-time-panel__btn.confirm {
  color: var(--button-text-color);

  &:hover,
  &:focus {
    color: var(--button-text-hover);
  }
}

.el-time-panel__btn.cancel {
  color: var(--button-text-color);

  &:hover,
  &:focus {
    color: var(--button-text-hover);
  }
}

.el-time-panel__content::after,
.el-time-panel__content::before {
  border-bottom: var(--date-picker-border);
  border-top: var(--date-picker-border);
}

.el-year-table td.today .cell {
  color: var(--active-color);
}

.el-year-table td .cell {
  color: var(--text-medium-emphasis);

  &:hover {
    color: var(--active-color);
  }

  &:active {
    color: var(--active-color);
  }
}

.el-date-picker__header-label:hover {
  color: var(--button-text-hover);
}

.el-picker-panel__icon-btn {
  color: var(--text-medium-emphasis);

  &:hover {
    color: var(--active-color);
  }
}

.el-date-table td.available:hover {
  color: var(--button-text-color);
}

.el-date-table td.disabled {
  div {
    background-color: var(--disabled-picker-background);
    opacity: var(--disabled-picker-opacity);
  }
}

.el-date-table td.today span {
  color: var(--button-text-hover);
}

.el-date-table td.current:not(.disabled) span {
  background-color: var(--button-text-hover);
}

.el-date-picker__header-label {
  color: var(--text-medium-emphasis);
}

.el-date-table th {
  color: var(--text-medium-emphasis);
}

.el-pagination {
  .el-pager {
    color: var(--pagination-number);
  }

  button:hover {
    color: var(--pagination-button-active);
  }

  button:disabled {
    background-color: inherit;
  }

  .el-pager li.active {
    background-color: var(--pagination-number-active);
    border-radius: 12%;
    color: var(--pagination-number-active-text);
  }

  .el-pager li:hover {
    background-color: var(--pagination-number-active);
    border-radius: 12%;
    color: var(--pagination-number-active-text);
    opacity: 0.7;
  }

  .el-pager li {
    background-color: inherit;
    margin: 4px;
  }

  .btn-next {
    background-color: var(--app-background-color);
    color: var(--pagination-button);
    margin: 4px;
  }

  .btn-prev {
    background-color: var(--app-background-color);
    color: var(--pagination-button);
    margin: 4px;
  }
}

.el-tooltip__popper {
  max-width: 500px;
}

.el-tooltip__popper.is-light {
  background: var(--tooltip-background);
  border: var(--tooltip-border);
  color: var(--text-medium-emphasis);
}

.el-tooltip__popper[x-placement='left'].is-light .popper__arrow::after {
  border-left-color: var(--tooltip-background);
}

.el-tooltip__popper[x-placement='left'].is-light .popper__arrow {
  border-left-color: var(--tooltip-arrow-border);
}

.el-tooltip__popper[x-placement='right'].is-light .popper__arrow::after {
  border-right-color: var(--tooltip-background);
}

.el-tooltip__popper[x-placement='right'].is-light .popper__arrow {
  border-right-color: var(--tooltip-arrow-border);
}

.el-tooltip__popper[x-placement='bottom'].is-light .popper__arrow::after {
  border-bottom-color: var(--tooltip-background);
}

.el-tooltip__popper[x-placement='bottom'].is-light .popper__arrow {
  border-bottom-color: var(--tooltip-arrow-border);
}

.el-dropdown-menu {
  background-color: var(--dropdown-background);
  border-color: var(--dropdown-background);
  display: block;
  font-weight: bold;
  padding: 8px 0;

  .el-dropdown-menu__item {
    color: var(--text-medium-emphasis);
  }

  .el-dropdown-menu__item:not(.is-disabled):hover {
    color: var(--dropdown-text-hover);
    display: block;
  }

  &.marketplace .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: var(--dropdown-marketplace-background);
    color: var(--dropdown-marketplace-text-hover);
    display: block;
  }

  &.el-popper {
    .popper__arrow {
      border-bottom-color: var(--dropdown-background);
    }

    .popper__arrow::after {
      border-bottom-color: var(--dropdown-background);
    }
  }
}
