@import './theme';

::-webkit-scrollbar {
  background: var(--scroll-background);
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-background-thum);
  -webkit-border-radius: 1ex;
  border-radius: 1ex;
}
