@import './colors';

[theme='dark'] {
  --el-color-primary: #{$purple-dark};
  --el-border-color: #{$grey-dark-10};
  --el-text-color-regular: #{$white};
  --link-text-color: #{$purple-dark};
  --el-bg-color: #{$grey-dark-8};
  --el-border-color-light: #{--dropdown-background};
  --el-bg-color-overlay: #{--dropdown-background};
  --el-fill-color-blank: #{--app-background-color};
  --el-text-color-primary: #{--text-high-emphasis};
  --el-text-color-primary: #{var(--text-high-emphasis)};
  --el-border-color-lighter: #{$grey-dark-1};

  // tag
  --tag-background: #{$green-dark};
  // community card
  --community-card-background: #{$grey-dark-8};
  --community-card-border: 1px solid #{$purple-dark};
  --community-card-title: #{$purple-dark};
  // default card
  --card-background: #{$grey-dark-8};
  --card-border: 1px solid #{$grey-dark-8};
  --card-active-border: 1px solid #{$purple-dark};
  --navigation-card-header-background: #{$purple-dark};
  // navigation card
  --navigation-card-background: #{$grey-dark-8};
  --navigation-card-border: 1px solid #{$purple-dark};
  //
  --reducer-color: #{$grey-dark-1};
  // output box
  --output-box: #{$grey-dark-10};
  --output-icon: #{$grey-dark-1};
  --output-icon-disabled: #{$grey-dark-4};
  --output-icon-error: #{$red-2};
  --output-label-color: #{$grey-dark-10};
  // transactions
  --transactions-negative: #{$red-2};
  --transactions-positive: #{$green-dark};
  --transaction-border: 0.5px solid #{$grey-dark-10};
  --transaction-background: #{$grey-dark-8};
  --transaction-details-background: #{$grey-dark-5};
  --transaction-details-border: 1px solid #{$grey-dark-8};
  --transaction-details-color: #{$grey-dark-1};
  // network status
  --network-status-border-synced: 2px solid #{$green-dark};
  --network-status-border-syncing: 2px solid #{$yellow-4};
  --network-status-border-error: 2px solid #{$red-2};
  --network-status-label-synced: #{$green-dark};
  --network-status-label-syncing: #{$yellow-3};
  --network-status-label-error: #{$red-2};
  // app
  --app-background-color: #{$grey-dark-10};
  // toolbar
  --toolbar-background-color: #{$grey-dark-6};
  // stagebar
  --stagebar-background-color: #{$grey-dark-8};
  --stage-toolbar-active-color: #{$grey-dark-10};
  --stage-toolbar-border-left-color: #{$grey-dark-8};
  --stage-toolbar-border-left-active-color: #{$grey-dark-10};
  // sidebar
  --sidebar-section-active-background: #{$grey-dark-10};
  --sidebar-section-background: #{$grey-dark-7};
  --sidebar-section-border: 4px solid #{$grey-dark-7};
  --sidebar-border-hover: 4px solid #{$grey-dark-10};
  --sidebar-active-border: 4px solid #{$purple-dark};
  --sidebar-inactive-border-hover: 4px solid #{$grey-dark-10};
  --sidebar-settings-border: 1px solid #{$grey-dark-10};
  --text-dark-background: #{$grey-dark-10};
  --text-high-emphasis: #{$white};
  --text-medium-emphasis: #{$grey-dark-1};
  --text-low-emphasis: #{$grey-dark-3};
  --text-disabled: #{$grey-dark-4};
  // select
  --select-background-color: #{$grey-dark-10};
  --select-border: 1px solid #{$grey-dark-2};
  --select-border-active: 1px solid #{$purple-dark};
  --select-option-background-active: #{$grey-dark-8};
  // operator
  --operator-border: 1px solid #{$grey-2};
  --script-operators-background: #{$grey-dark-1};
  --script-operators-info-background: #{$grey-dark-8};
  --script-operators-info-border: 1px solid #{$grey-dark-8};
  --operators-dashed-border: 1px dashed #{$white};
  --operator-dashed-border: 1px dashed #{$grey-2};
  // addresses
  --address-card-border-used: 1px solid #{$red-2};
  --address-card-border-not-used: 1px solid #{$green-dark};
  --address-card-background: #{$green-dark};
  --addresses-info-background: #{$grey-dark-1};
  --addresses-border: 1px solid #{$grey-dark-1};
  --addresses-active-box-shadow: 0 0 6px 1px #{$purple-dark};
  --addresses-inactive-box-shadow: 0 0 0 0 #{$purple-dark};
  --addresses-list-background: #{$grey-dark-8};
  --address-card-button-border: 1px dashed #{$grey-dark-1};
  --address-card-button-border-hover: 1px dashed #{$grey-dark-0};
  --address-card-button-border-active: 1px dashed #{$grey-dark-2};
  --address-card-selected-border-active: 1px solid #{$grey-dark-1};
  --address-card-button-border-focus: 2px solid #{$orange-2};
  --address-card-button-color: #{$grey-dark-1};
  --address-card-button-color-hover: #{$grey-dark-0};
  --address-card-button-color-active: #{$grey-dark-2};
  // input
  --input-border: 1px solid #{$grey-dark-10};
  --input-border-hover: #{$grey-dark-1};
  --input-background: #{$grey-dark-10};
  --input-border-color-active: #{$purple-dark};
  // seed
  --seed-big-border: 2px dashed #{$grey-dark-1};
  --seed-hover-border: 2px dashed #{$purple-dark-3} !important;
  --seed-hover-box-shadow: 0 1px 5px 0 #{$purple-dark};
  // drag and drop area
  --drag-drop-area: 1px dashed #{$grey-dark-1};
  --drag-drop-file-background-color: #{$grey-dark-5};
  --drag-drop-area-focus: 1px dashed #{$purple-dark};
  // disclaimer
  --disclaimer-text: #{$white};
  --disclaimer-background: #{$purple-dark};
  --disclaimer-border: 1px solid #{$purple-dark-3};
  // notification
  --notification-border: 1px solid #{$grey-dark-10};
  // element variables
  --primary-color: #{$purple-dark};
  --color-success: #{$green-dark-1};
  --switch-background: #{$grey-dark-8};
  --switch-border: #{$white};
  --switch-background-active: #{$purple-dark};
  --switch-label-color: #{$grey-dark-1};
  --switch-notification-label: #{$white};
  // progress
  --progress-bar: #{$purple-dark};
  --progress-color: #{$grey-dark-1};
  --progress-icon: #{$purple-dark};
  // alert
  --alert-background: #{$yellow-0};
  --alert-border: 1px solid #{$grey-1};
  --alert-link-background: #{$grey-dark-8};
  --alert-color-text: #{$alt-grey-5};
  --alert-colot-link-text: #{$grey-dark-1};
  // button dark
  --button-dark-background: #{$white};
  --button-dark-text: #{$purple-dark};
  --button-dark-border: #{$white};
  --button-dark-border-hover: #{$alpha-purple};
  --button-dark-background-hover: #{$alpha-purple};
  --button-dark-text-hover: #{$purple-dark};
  --button-dark-background-active: #{$white};
  --button-dark-border-active: #{$white};
  --button-dark-text-active: #{$purple-4};
  // button primary
  --button-primary-background: #{$purple-dark};
  --button-primary-text: #{$grey-dark-10};
  --button-primary-border: #{$purple-dark};
  --button-primary-background-hover: #{$purple-dark-1};
  --button-primary-text-hover: #{$grey-dark-10};
  --button-primary-border-hover: #{$purple-dark-1};
  --button-primary-background-active: #{$purple-dark-2};
  --button-primary-border-active: #{$purple-dark-2};
  --button-primary-text-active: #{$grey-dark-10};
  --button-primary-background-disabled: #{$purple-dark-2};
  --button-primary-border-disabled: #{$purple-dark-2};
  // button default
  --button-default-text: #{$grey-dark-2};
  --button-default-border: #{$purple-dark};
  --button-default-background: #{$grey-dark-8};
  --button-default-background-hover: #{$grey-dark-6};
  --button-default-border-hover: #{$purple-dark-1};
  --button-default-text-hover: #{$grey-dark-1};
  --button-default-text-hover: #{$grey-dark-2};
  --button-default-text-hover: #{$grey-dark-1};
  --button-default-text-active: #{$white};
  --button-default-border-active: #{$white};
  --button-default-background-active: #{$grey-dark-6};
  // button default dark
  --button-dark-background: #{$purple-dark};
  --button-dark-border: #{$white};
  --button-dark-text: #{$white};
  --button-dark-background-hover: #{$purple-dark-1};
  --button-dark-border-hover: #{$white};
  --button-dark-text-hover: #{$white};
  --button-dark-background-active: #{$white};
  --button-dark-border-active: #{$purple-dark};
  --button-dark-text-active: #{$purple-dark};
  // button default dark primary
  --button-primary-dark-background: #{$white};
  --button-primary-dark-border: #{$purple-dark-1};
  --button-primary-dark-text: #{$purple-dark-1};
  --button-primary-dark-background-hover: #{$purple-dark-1};
  --button-primary-dark-border-hover: #{$white};
  --button-primary-dark-text-hover: #{$white};
  --button-primary-dark-background-active: #{$white};
  --button-primary-dark-border-active: #{$purple-dark};
  --button-primary-dark-text-active: #{$purple-dark};
  // button text
  --button-text-color: #{$purple-dark};
  --button-text-hover: #{$purple-dark-1};
  // pagination
  --pagination-active: rgb(255 42 127);
  --pagination-number: #{$grey-dark-1};
  --pagination-number-active: #{$purple-dark};
  --pagination-number-active-text: #{$grey-dark-10};
  --pagination-button: #{$grey-dark-1};
  --pagination-button-active: #{$purple-dark};
  // dropdown
  --dropdown-background: #{$grey-dark-10};
  --dropdown-text-hover: #{$purple-dark};
  // tooltip
  --tooltip-background: #{$grey-dark-10};
  --tooltip-border: 1px solid #{$grey-dark-1};
  --tooltip-arrow-border: #{$grey-dark-1};
  // loading
  --loading-title: #{$purple-dark};
  --loading-description: #{$purple-dark};
  // spinner
  --spinner-border: 2px dotted #{$grey-dark-1};
  --spinner-border-active: 3px solid #{$purple-dark};
  // balance
  --balance-background: #{$purple-dark};
  --balance-link-color: #{$purple-dark};
  --balance-box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
  // error
  --error-color: #{$red-2};
  // version
  --version-color: #{$grey-dark-3};
  // pending state
  --pending-state-color: #{$yellow-2};
  // scroll
  --scroll-background: #{$grey-dark-8};
  --scroll-background-thum: #{$grey-dark-6};
  // info title
  --info-title: #{$purple-dark-3};
  // date picker
  --active-color: #{$purple-dark};
  --date-picker-background: #{$grey-dark-10};
  --date-picker-border: 1px solid #{$grey-dark-1};
  --date-picker-selected-time: #{$purple-dark};
  --disabled-picker-background: rgb(255 255 255 / 10%);
  --disabled-picker-opacity: 0.3;
  --picker-panel-background: transparent;
  // select box
  --select-box-border: 1px solid #{$grey-dark-3};
  --select-box-label: #{$grey-dark-3};
  --select-box-background: #{$grey-dark-8};
  --select-box-active-border: 1px solid #{$purple-dark};
  --select-box-error-border: 1px solid #{$red-2};
  --select-box-active-color: #{$purple-dark};
}

[theme='light'] {
  --el-color-primary: #{$purple-3};
  --el-border-color: #{$grey-4};
  --el-text-color-regular: #{$alt-grey-5};
  --link-text-color: #{$purple-3};
  --el-bg-color: #{$white};
  --el-border-color-light: #{--dropdown-background};
  --el-bg-color-overlay: #{--dropdown-background};
  --el-fill-color-blank: #{--app-background-color};
  --el-text-color-primary: #{var(--text-high-emphasis)};
  --el-border-color-lighter: #{$grey-dark-0};

  // tag
  --tag-background: #{$green-3};
  // community card
  --community-card-background: #{$white};
  --community-card-border: 1px solid #{$purple-4};
  --community-card-title: #{$purple-4};
  // default card
  --card-background: #{$white};
  --card-border: 1px solid #{$grey-1};
  --card-active-border: 1px solid #{$purple-3};
  --card-shadow: 1px 2px 8px 0 rgb(207 207 207 / 32.9%);
  --card-box-shadow: 0 4px 4px rgb(155 81 224 / 10%);
  // navigation card
  --navigation-card-header-background: #{$purple-4};
  --navigation-card-background: #{$white};
  --navigation-card-border: 1px solid #{$purple-4};
  //
  --reducer-color: #{$black};
  // output-box
  --output-box: #{$white};
  --output-icon: #{$grey-5};
  --output-icon-disabled: #{$grey-2};
  --output-icon-error: #{$red-2};
  --output-label-color: #{$white};
  // transactions
  --transactions-negative: #{$red-4};
  --transactions-positive: #{$green-5};
  --transaction-details-color: #{$grey-dark-1};
  --transaction-border: 0.5px solid #{rgb(224, 224, 224)};
  --transaction-background: #{$white};
  --transaction-details-background: #{$alt-grey-5};
  --transaction-details-border: 1px solid #{$grey-4};
  // network status
  --network-status-border-synced: 2px solid #{$green-5};
  --network-status-border-syncing: 2px solid #{$yellow-4};
  --network-status-border-error: 2px solid #{$red-3};
  --network-status-label-synced: #{$green-5};
  --network-status-label-syncing: #{$yellow-3};
  --network-status-label-error: #{$red-3};
  // app
  --app-background-color: #{$alpha-purple};
  // toolbar
  --toolbar-background-color: #{$purple-5};
  // stagebar
  --stagebar-background-color: #{$purple-2};
  --stage-toolbar-active-color: #{$purple-3};
  --stage-toolbar-border-left-color: #{$purple-2};
  --stage-toolbar-border-left-active-color: #{$purple-3};
  // sidebar
  --sidebar-section-active-background: #{$alpha-purple};
  --sidebar-section-background: #{$white};
  --sidebar-section-border: 4px solid #{$white};
  --sidebar-border-hover: 4px solid #{$purple-0};
  --sidebar-active-border: 4px solid #{$purple-4};
  --sidebar-inactive-border-hover: 4px solid #{$purple-0};
  --sidebar-settings-border: 1px solid #{$grey-1};
  // texts
  --text-dark-background: #{$white};
  --text-high-emphasis: #{$alt-grey-5};
  --text-medium-emphasis: #{$alt-grey-4-alt};
  --text-low-emphasis: #{$alt-grey-3};
  --text-disabled: #{$alt-grey-2};
  // select
  --select-background-color: #{$white};
  --select-border: 1px solid #{$grey-4};
  --select-border-active: 1px solid #{$purple-4};
  --select-option-background-active: #{$alpha-purple};
  // operator
  --operator-border: 1px solid #{$grey-4};
  --script-operators-background: #{$white};
  --script-operators-info-background: #{$yellow-0};
  --script-operators-info-border: 1px solid #{$yellow-3};
  --operators-dashed-border: 1px dashed #{$grey-2};
  --default-box-shadow: 10px 10px 0 0 rgb(155 81 224 / 10.3%);
  --operator-dashed-border: 1px dashed #{$grey-2};
  // addresses
  --address-card-border-used: 1px solid #{$red-2};
  --address-card-border-not-used: 1px solid #{$green-5};
  --address-card-background: #{$green-3};
  --addresses-info-background: #{$white};
  --addresses-border: 1px solid #{$grey-1};
  --addresses-active-box-shadow: 0 0 6px 1px #{$purple-2};
  --addresses-inactive-box-shadow: 0 0 0 0 #{$purple-2};
  --addresses-list-background: #{$orange-1};
  --address-card-button-border: 1px dashed #{#66648c80};
  --address-card-button-border-hover: 1px dashed #{#aaa8bd80};
  --address-card-button-border-focus: 2px solid #{$orange-2};
  --address-card-button-border-active: 1px dashed #{#66648c80};
  --address-card-selected-border-active: 1px solid #{#44424080};
  --address-card-button-color: #{#44424080};
  --address-card-button-color-hover: #{#aaa8bd80};
  --address-card-button-color-active: #{#44424080};
  // input
  --input-border: 1px solid #{$grey-4};
  --input-border-hover: #{$grey-5};
  --input-border-color-active: #{$purple-4};
  --input-background: #{$white};
  // seed
  --seed-big-border: 2px dashed #{$alt-grey-1};
  --seed-hover-border: 2px dashed #{$purple-4} !important;
  --seed-hover-box-shadow: 0 1px 5px 0 #{$purple-1};
  // drag and drop area
  --drag-drop-area: 1px dashed #{$grey-4};
  --drag-drop-area-focus: 1px dashed #{$purple-4};
  --drag-drop-file-background-color: #f5f7fa;
  // disclaimer
  --disclaimer-text: #{$white};
  --disclaimer-background: #{$purple-4};
  --disclaimer-border: 1px solid #{$purple-3};
  // notification
  --notification-border: 1px solid #{$grey-1};
  // element variables
  --primary-color: #{$purple-4};
  --color-success: #52c41a;
  --switch-label-color: #{$alt-grey-4};
  --switch-border: #{$grey-dark-0};
  --switch-notification-label: #{$alt-grey-5};
  --switch-background: #{$grey-dark-0};
  --switch-background-active: #{$purple-2};
  // progress
  --progress-color: #{$grey-dark-0};
  --progress-icon: #{$purple-4};
  --progress-bar: #{$purple-4};
  // alert
  --alert-background: #{$yellow-0};
  --alert-border: 1px solid #{$grey-1};
  --alert-link-background: #{$white};
  --alert-color-text: #{$alt-grey-5};
  --alert-colot-link-text: #{$alt-grey-5};
  // button text
  --button-text-color: #{$purple-4};
  --button-text-hover: #{$purple-3};
  // button dark
  --button-dark-background: #{$white};
  --button-dark-text: #{$purple-4};
  --button-dark-border: #{$white};
  --button-dark-border-hover: #{$alpha-purple};
  --button-dark-background-hover: #{$alpha-purple};
  --button-dark-text-hover: #{$purple-3};
  --button-dark-background-active: #{$white};
  --button-dark-border-active: #{$white};
  --button-dark-text-active: #{$purple-4};
  // button primary
  --button-primary-background: #{$purple-3};
  --button-primary-text: #{$white};
  --button-primary-border: #{$purple-4};
  --button-primary-text-hover: #{$white};
  --button-primary-background-hover: #{$purple-2};
  --button-primary-border-hover: #{$purple-3};
  --button-primary-background-active: #{$purple-3};
  --button-primary-border-active: #{$purple-4};
  --button-primary-text-active: #{$white};
  --button-primary-background-disabled: #{#c193ec};
  --button-primary-border-disabled: #{#c193ec};
  // button default
  --button-default-text: #{$alt-grey-3};
  --button-default-background-hover: #{$alpha-purple};
  --button-default-border: #{$grey-dark-0};
  --button-default-border-hover: #{$alpha-purple};
  --button-default-text-hover: #{$purple-3};
  // button default dark
  --button-default-dark-background: #{$purple-4};
  --button-default-dark-border: #{$white};
  --button-default-dark-text: #{$white};
  --button-default-dark-background-hover: #{$purple-3};
  --button-default-dark-border-hover: #{$white};
  --button-default-dark-text-hover: #{$white};
  --button-default-dark-background-active: #{$white};
  --button-default-dark-border-active: #{$purple-4};
  --button-default-dark-text-active: #{$purple-4};
  // pagination
  --pagination-number: #{$alt-grey-5};
  --pagination-number-active: #{$purple-4};
  --pagination-number-active-text: #{$white};
  --pagination-button: #{$alt-grey-5};
  --pagination-button-active: #{$purple-4};
  // dropdown
  --dropdown-background: #{$white};
  --dropdown-text-hover: #{$purple-4};
  // tooltip
  --tooltip-background: #{$white};
  --tooltip-border: 1px solid #{$grey-dark-9};
  --tooltip-arrow-border: #{$grey-dark-9};
  // loading
  --loading-title: #{$purple-4};
  --loading-description: #{$purple-6};
  // spinner
  --spinner-border: 2px dotted #{$alt-grey-5};
  --spinner-border-active: 3px solid #{$purple-5};
  // balance
  --balance-background: #{$purple-5};
  --balance-link-color: #{$purple-2};
  --balance-box-shadow: 0 4px 4px rgb(155 181 224 / 10%);
  // error
  --error-color: #{$red-2};
  // version
  --version-color: #{$alt-grey-3};
  // pending state
  --pending-state-color: #{$yellow-4};
  // scroll
  --scroll-background: transparent;
  --scroll-background-thum: #{$alpha-grey};
  // info title
  --info-title: #{$purple-3};
  // date picker
  --active-color: #{$purple-4};
  --date-picker-background: #{$white};
  --date-picker-border: 1px solid #e4e4e4;
  --date-picker-selected-time: #e4e4e4;
  --disabled-picker-background: #f5f7fa;
  --disabled-picker-opacity: 1;
  --picker-panel-background: #fff;
  // select box
  --select-box-border: 1px solid #{$grey-1};
  --select-box-label: #{$grey-3};
  --select-box-background: #{$white};
  --select-box-active-border: 1px solid #{$purple-3};
  --select-box-error-border: 1px solid #{$red-2};
  --select-box-active-color: #{$purple-3};
}

// COMMON
$default-box-shadow: 10px 10px 0 0 rgb(155 81 224 / 10.3%);
$card-box-shadow: 0 4px 4px rgb(155 81 224 / 10%);
$main-box-shadow: 0 4px 4px 0 rgb(155 81 224 / 10.3%);
$font-color-dark: $alt-grey-5;
$font-color-light: $alt-grey-2;
$sheikah-gradient: linear-gradient(to right, $purple-5, $purple-4);

// BUTTON_NAVIGATION
$default-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
$font-color-dark: $grey-6;
$font-color-light: $grey-3;
$sheikah-gradient: linear-gradient(to right, $purple-7, $purple-6);

// // // BUTTON_NAVIGATION
$button_navigation-background: $white;
$button_navigation-border-color: $grey-1;
$button_navigation-border-style: solid;
$button_navigation-border-width: 1px;
$button_navigation-color: $alt-grey-5;
$button_navigation-height: 100%;
$button_navigation-hover-background: $alt-grey-2;
$button_navigation-width: auto;

// BUTTON_OPTION
$button_option-active-background: $white;
$button_option-active-border-color: $purple-4;
$button_option-active-box-shadow: 0 1px 5px 0 $purple-2;
$button_option-active-color: $purple-4;
$button_option-background: $white;
$button_option-border-color: $white;
$button_option-border-style: solid;
$button_option-border-width: 1px;
$button_option-border: $button_option-border-width $button_option-border-style
  $button_option-border-color;
$button_option-color: $alt-grey-5;
$button_option-hover-border-color: $purple-3;
$button_option-hover-box-shadow: 0 1px 5px 0 $purple-1;
$button_option-hover-color: $purple-4;

// ICON
$icon-settings-font_size: 14px;
$icon_status-font_size: 12px;

// SELECT
$select_border: 1px solid $grey-4;
$select_border__active: 1px solid $purple-4;

// INPUT BIG
$input_border: 1px solid $grey-4;
$input_border_color__active: $purple-4;
$input_big-border-radius: 2px;
$input_big-border: 2px dashed $alt-grey-1;
$input_big-color: $alt-grey-2;
$input_big-font-size: 22px;
$input_big-hover-border: 2px dashed $purple-4 !important;
$input_big-hover-box-shadow: $button_option-hover-box-shadow;
$input_big-width: 100%;
$drag_drop_area: 1px dashed $grey-4;
$drag_drop_area_focus: 1px dashed $purple-4;
$operator-dashed-border: 1px dashed $grey-2;

// INPUT UNDERLINED
$input_underlined-border: 1px solid $alt-grey-5;
$input_underlined-color: $alt-grey-5;

// SIDEBAR
$sidebar-inactive-border: 4px solid $white;
$sidebar-inactive-border-hover: 4px solid $purple-0;
$sidebar-active-border: 4px solid $purple-4;
$sidebar-active-color: $purple-4;
$sidebar-current_wallet-color: $white;
$sidebar-label-color: $alt-grey-2;
$sidebar-label-font_size: 9px;
$sidebar-link-color: $alt-grey-5;
$sidebar-link-font_size: 16px;
$sidebar-link-font_weight: 700;
$sidebar-logo-width: 125px;
$sidebar-name-color: $alt-grey-5;
$sidebar-name-font_size: 20px;
$sidebar-settings-border: 1px solid $grey-1;
$sidebar-settings-icon-color: $alt-grey-5;
$sidebar-settings-icon-size: 20px;
$sidebar-synced-color: $alt-grey-5;
$sidebar-synced-font_weight: 700;
$sidebar-mainnet-color: $alt-grey-2;
$sidebar-mainnet-font_weight: 700;

// COLOR TYPE VARIABLES
$string: #c0abfa;
$mixed: #3c39cc;
$int: #40bce3;
$float: #f08484;
$number: grey;
$array: #f06291;
$map: #d72fe5;
$null: #c866da;
$result: #8934d8;
$bytes: #475fd6;
$boolean: #ff8965;
$generic: #f2c94c;
$integer: #37d279;
$matchOutput: #30ddb3;
$same: #eb4577;
$subscriptOutput: #3791e4;
$inner: #dc9b5f;
