
@import "./colors";

// // COMMON
$default-box-shadow: -10px 10px 0px 0px rgba(155, 81, 224, 0.30);
$font-color-dark: $grey-6;
$font-color-light: $grey-3;
$sheikah-gradient: linear-gradient(to right, $purple-6, $blue-6);

// // // BUTTON_NAVIGATION
$button_navigation-background: $white;
$button_navigation-border-color: $grey-0;
$button_navigation-border-style: solid;
$button_navigation-border-width: 1px;
$button_navigation-color: $grey-5;
$button_navigation-height: 100%;
$button_navigation-hover-background: $grey-2;
$button_navigation-width: auto;

// // // BUTTON_OPTION
$button_option-active-background: $white;
$button_option-active-border-color: $blue-5;
$button_option-active-box-shadow: 0 1px 5px 0 $blue-3;
$button_option-active-color: $blue-6;
$button_option-background: $white;
$button_option-border-color: $white;
$button_option-border-style: solid;
$button_option-border-width: 1px;
$button_option-border: $button_option-border-width $button_option-border-style $button_option-border-color;
$button_option-color: $grey-5;
$button_option-hover-border-color: $blue-4;
$button_option-hover-box-shadow: 0 1px 5px 0 $blue-2;
$button_option-hover-color: $blue-5;

// // // ICON
$icon-settings-font_size: 14px;
$icon_status-font_size: 12px;

// // //INPUT BIG
$input_big-border-radius: 2px;
$input_big-border: 2px dashed $grey-1;
$input_big-color: $font-color-light;
$input_big-hover-border: 2px dashed $blue-6 !important;
$input_big-hover-box-shadow: $button_option-hover-box-shadow;
$input_big-width: 100%;

// // // INPUT UNDERLINED
$input_underlined-border: 1px solid $grey-3;
$input_underlined-color: $grey-3;

// // // SIDEBAR
$sidebar-inactive-border: 5px solid $white;
$sidebar-inactive-border-hover:5px solid $blue-1;
$sidebar-active-border: 5px solid $blue-6;
$sidebar-active-color: $blue-6;
$sidebar-current_wallet-color: $white;
$sidebar-label-color: $grey-2;
$sidebar-label-font_size: 9px;
$sidebar-link-color: $grey-3;
$sidebar-link-font_size: 16px;
$sidebar-link-font_weight: 700;
$sidebar-logo-width: 125px;
$sidebar-name-color: $grey-6;
$sidebar-name-font_size: 20px;
$sidebar-settings-border: 1px solid $grey-0;
$sidebar-settings-icon-color: $grey-5;
$sidebar-settings-icon-size: 20px;
$sidebar-synced-color: $grey-5;
$sidebar-synced-font_weight: 700;
$sidebar-mainnet-color: $grey-2;
$sidebar-mainnet-font_weight: 700;

//COLOR TYPE VARIABLES
$string: #c0abfa80;
$mixed: #2e6ff280;
$boolean: #aed58180;
$int: #4fc3f780;
$float: #e5737380;
$array: #f0629280;
$map: #f22ea480;
$null: #ba68c880;
$result: #9575cd80;
$bytes: #7986cb80;
$boolean: #ff8a6580;
$generic: #ffb74d80;
$integer: #aed58180;