:local {
  @import "app/renderer/ui/theme";

  .content {
    height: $empty_state-height;
    padding: 20px;
    text-align: center;
  }

  .icon {
    margin-bottom: 15px;
  }

  .text {
    color: $font-color-light;
    font-size: $empty_state-font_size;
    font-style: italic;
    font-weight: $empty_state-font_weight;
  }
}
