:local {
  @import "app/renderer/ui/theme";

  .content {
    height: 200px;
    padding: 20px;
    text-align: center;
  }

  .icon {
    margin-bottom: 15px;
  }

  .text {
    color: $font-color-light;
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
  }
}
