:local {
  .main {
    align-content: space-around;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    min-width: 800px;
  }

  .side {
    display: flex;
    flex-flow: column nowrap;
    min-width: 350px;
  }

  .confirmed {
    margin-top: 20px;
  }
}
