:local {
  .wrapper {
    display: flex;
    flex-flow: row nowrap;
  }

  .left {
    padding: 3em;
    width: 70vw;
  }

  .right {
    padding: 3em;
    width: 30vw;
  }

  .confirmed {
    margin-top: 1.8em;
  }

  .vesting-graph {
    margin-top: 2em;
  }
}
