:local {
  @import "app/renderer/ui/colors";

  .payment-request {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: auto 1fr auto;
    padding: 2em;
  }

  .creation-date {
    font-size: 12px;
  }

  .expiration-date {
    font-size: 12px;
  }

  .green {
    color: $green-4;
  }

  .red {
    color: $red-6;
  }

  .actions {
    align-items: center;
    display: grid;
  }
}
