:local {
  @import "app/renderer/ui/theme";

  .payment-request {
    align-items: center;
    border-bottom: $payment_request-border;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;

    &:last-child {
      border: none;
    }
  }

  .green {
    color: $success-color;
  }

  .red {
    color: $error-color;
  }

  .yellow {
    color: $warning-color;
  }

  .date {
    color: $payment_request-date-color;
    font-size: $payment_request-date-font_size;
  }

  .info {
    min-width: 275px;

    .label {
      color: $payment_request-label-color;
      font-size: $payment_request-label-font_size;
    }

    .status {
      color: $payment_request-status-color;
      font-size: $payment_request-status-font_size;
    }

    .wit {
      color: $payment_request-wit-color;
      font-size: $payment_request-wit-font_size;
      font-weight: $payment_request-wit-font_weight;
    }
  }

  .address {
    color: $payment_request-address-color;
    font-size: $payment_request-address-font_size;
    min-width: 325px;
    text-align: right;
  }
}
