:local {
  @import "app/renderer/ui/colors";

  .link {
    color: $blue-6;
    text-align: right;
  }

  .subtitle {
    color: $grey-10;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .text {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 1em;
  }
}
