:local {
  @import "app/renderer/ui/theme";

  .balances {
    background: none;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 0.2em;
    padding-bottom: 2em;
    padding-top: 0.5em;
    width: 100%;
  }

  .line {
    align-items: center;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
    padding: 0.2em 0;

    .text {
      color: $balances-text-color;
      font-size: $balances-text-font_size;
      font-weight: $balances-text-font_weight;
    }

    .number {
      color: $balances-number-color;
      font-size: $balances-number-font_size;
      font-weight: $balances-number-font_weight;
    }

    .wit {
      color: $balances-wit-color;
      font-size: $balances-wit-font_size;
      font-weight: $balances-wit-font_weight;
    }
  }
}
