:local {
  @import "app/renderer/ui/colors";

  .balances {
    background: none;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
  }

  .line {
    align-items: center;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
    margin: 1em;

    .text {
      color: #4d4d4d;
      font-size: 13px;
      font-weight: 200;
    }

    .number {
      color: #4d4d4d;
      font-size: 13px;
      font-weight: 200;
    }

    .wit {
      color: #b3b3b3;
      font-size: 9px;
      font-weight: 600;
    }
  }
}
