:local {
  @import "app/renderer/ui/theme";
  @import "app/renderer/ui/fonts";

  .link {
    text-align: right;
  }

  .subtitle {
    color: $font-color-dark;
    margin-bottom: 30px;
  }

  .text {
    color: $font-color-light;
    margin-bottom: 20px;
  }
}
