:local {
  @import "app/renderer/ui/theme";

  .grid {
    box-shadow: $default-box-shadow;
    display: grid;
    grid-template-columns: 30% 1fr;
    height: 100%;
  }

  .collapse {
    // To add transition for grid items read #302
    grid-template-columns: 10px 1fr;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    justify-content: space-between;

    .collapsed {
      width: $sidebar_layout-collapsed-width;
    }
  }

  .titleText {
    color: $sidebar_layout-color;
    font-size: $sidebar_layout-font_size;
    padding: 20px;
  }

  .settings {
    bottom: 0;
    cursor: pointer;
    display: flex;
    padding: 20px;
    position: absolute;

    .icon {
      color: $sidebar_layout-icon-color;
      display: flex;
      margin-right: 10px;
    }

    .label {
      color: $sidebar_layout-icon_label-color;
    }
  }

  .content {
    background: $sidebar_layout-content-background;
    grid-column: 2;
  }
}
