:local {
  @import "app/renderer/ui/colors";
  @import "app/renderer/ui/theme";

  .layout {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    height: 100%;
    justify-content: space-between;
  }

  .content {
    padding: $card-default-padding;
  }

  .text {
    margin-bottom: 20px;
  }

  .input {
    margin-bottom: 20px;
    padding: $input-padding;
  }

  .error {
    margin-bottom: 20px;
  }

  .navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
  }
}
