:local {
  @import "app/renderer/ui/theme";

  .card {
    box-shadow: $card-default-shadow;
  }

  .content {
    padding: $card-default-padding;
  }

  .navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
  }
}
