:local {
  @import "app/renderer/ui/colors";

  .new-transaction {
    align-items: center;
    display: grid;
    grid-gap: .5em 1em;
    grid-template-columns: auto repeat(5, 1fr) auto;
    padding: 2em;
  }

  .label {
    grid-column: 1;
  }

  .input {
    grid-column: 2;
  }

  .large-input {
    grid-column-end: 7;
    grid-column-start: 2;
  }

  .small-input {
    grid-column-end: 5;
    grid-column-start: 2;
  }

  .submit {
    box-sizing: border-box;
    grid-column: 2;
    grid-row: 6;
  }

  .info {
    color: $grey-6;
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
  }

  .icon {
    padding: .5em;
  }
}