:local {
  @import "app/renderer/ui/theme";

  .button {
    height: $popover-height;
    margin: 0;
    padding: 0;
    width: $popover-width;
  }

  // .list {}

  .list-item {
    height: $popover-height;
    margin: -1px;
    width: 100%;

    &:hover {
      z-index: 2;
    }
  }
}
