:local {
  .button {
    width: 40px;
    height: 20px;
    padding: 0;
    margin: 0;
  }

  .list {

  }

  .list-item {
    height: 40px;
    margin: -1px;
    width: 100%;

    &:hover {
      z-index: 2;
    }
  }
}