:local {
  @import "app/renderer/ui/theme";

  .transaction {
    align-items: center;
    border-bottom: $transaction-border;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto;
    padding: 30px 50px;

    &:last-child {
      border: none;
    }
  }

  .green {
    color: $success-color;
  }

  .red {
    color: $error-color;
  }

  .icon {
    font-size: $transaction-angle_icon-font_size;
    grid-column: 1;
    grid-row: 1;
    margin-right: 10px;
  }

  .amount {
    grid-column: 2;
    grid-row: 1;

    .number {
      font-size: $transaction-number-font_size;
      font-weight: $transaction-number-font_weight;
      margin-right: 5px;

      &.positive {
        color: $success-color;
      }

      &.negative {
        color: $error-color;
      }
    }

    .wit {
      color: $transaction-wit-color;
      font-size: $transaction-wit-font_size;
      font-weight: $transaction-wit-font_weight;
    }
  }

  .address {
    grid-column: 3;
    grid-row: 1;

    .origin {
      color: $transaction-origin-color;
      font-size: $transaction-origin-font_size;
      font-weight: $transaction-origin-font_weight;
    }

    .address-number {
      color: $transaction-address-color;
      font-size: $transaction-address-font_size;
    }
  }

  .date {
    color: $transaction-date-color;
    font-size: $transaction-date-font_size;
    font-weight: $transaction-date-font_weight;
    text-align: right;
  }

  .block {
    color: $transaction-block-color;
    font-size: $transaction-block-font_size;
    font-weight: $transaction-block-font_weight;
  }
}
