:local {
  @import "app/renderer/ui/theme";

  .transaction {
    align-items: center;
    border-bottom: $transaction-border;

    &:last-child {
      border: none;
    }
  }

  .green {
    color: $success-color;
  }

  .red {
    color: $error-color;
  }

  .icon {
    font-size: $transaction-angle_icon-font_size;
    margin-right: 10px;
  }

  .amount {
    .number {
      font-size: $transaction-number-font_size;
      font-weight: $transaction-number-font_weight;
      margin-right: 5px;

      &.positive {
        color: $success-color;
      }

      &.negative {
        color: $error-color;
      }
    }

    .wit {
      color: $transaction-wit-color;
      font-size: $transaction-wit-font_size;
      font-weight: $transaction-wit-font_weight;
    }
  }

  .address {
    .origin {
      color: $transaction-origin-color;
      font-size: $transaction-origin-font_size;
      font-weight: $transaction-origin-font_weight;
    }

    .address-number {
      color: $transaction-address-color;
      font-size: $transaction-address-font_size;
    }
  }

  .date {
    color: $transaction-date-color;
    font-size: $transaction-date-font_size;
    font-weight: $transaction-date-font_weight;
  }

  .block {
    color: $transaction-block-color;
    font-size: $transaction-block-font_size;
    font-weight: $transaction-block-font_weight;
  }
}
