:local {
  @import "app/renderer/ui/theme";

  .sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 1fr 60px;
    max-height: 100vh;
  }

  .brand {
    align-items: center;
    display: flex;
    padding: 1em;

    .logo {
      width: $sidebar-logo-width;
    }

    .name {
      color: $sidebar-name-color;
      font-size: $sidebar-name-font_size;
      font-weight: 800;
      padding: 0.5em;
    }

    .label {
      color: $sidebar-label-color;
      font-size: $sidebar-label-font_size;
      font-weight: bold;
      padding-left: 2em;
      padding-top: 1.5em;
    }
  }

  .current-wallet {
    align-items: center;
    background: $blue-6;
    color: $sidebar-current_wallet-color;
    display: flex;
    font-weight: bold;
    padding: 1em;
  }

  .link-list {
    display: grid;
    grid-template-rows: repeat(7, 60px);
    padding-top: 1em;

    .link {
      align-items: center;
      border-left: $sidebar-inactive-border;
      color: $sidebar-link-color;
      display: flex;
      font-size: $sidebar-link-font_size;
      font-weight: $sidebar-link-font_weight;
      padding: 1em;
      text-decoration: none;

      .option-icon {
        padding: 1.5em;
      }
    }

    .active {
      border-left: $sidebar-active-border;
      color: $sidebar-active-color;
    }
  }

  .hr {
    border: 0;
    border-top: $sidebar-settings-border;
    height: 1px;
    width: 90%;
  }

  .settings {
    display: grid;
    font-size: $icon-settings-font_size;
    grid-row: 5;
    grid-template-columns: auto 1fr;
    padding: 1em;

    .settings-icon {
      color: $sidebar-settings-icon-color;
      cursor: pointer;
      display: flex;
      font-size: $sidebar-settings-icon-size;
    }

    .net-status {
      font-size: $icon_status-font_size;
      padding: 0.5em;
      text-align: right;

      .mainnet {
        color: $sidebar-mainnet-color;
        font-weight: $sidebar-mainnet-font_weight;
      }

      .synced {
        color: $sidebar-synced-color;
        font-weight: $sidebar-synced-font_weight;
        padding: 0.5em;
      }
    }
  }
}
