:local {
  @import "app/renderer/ui/theme";

  .sidebar {
    box-shadow: $sidebar-shadow;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    z-index: 5;
  }

  .brand {
    padding: 1em;

    .logo {
      width: $sidebar-logo-width;
    }

    .name {
      color: $sidebar-name-color;
      font-size: $sidebar-name-font_size;
      font-weight: 800;
      padding: 0.5em;
    }

    .label {
      color: $sidebar-label-color;
      font-size: $sidebar-label-font_size;
      font-weight: bold;
      padding-left: 2em;
      padding-top: 1.5em;
    }
  }

  .current-wallet {
    background: $blue-6;
    color: $sidebar-current_wallet-color;
    font-weight: bold;
    padding: 1em;
  }

  .link-list {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    height: 37vh;
    justify-content: space-around;
    padding-top: 1em;

    .link {
      align-items: center;
      border-left: $sidebar-inactive-border;
      color: $sidebar-link-color;
      display: flex;
      flex-flow: row nowrap;
      font-size: $sidebar-link-font_size;
      font-weight: $sidebar-link-font_weight;
      padding: 1em;
      text-decoration: none;

      .option-icon {
        padding: 1.5em;
      }
    }

    .active {
      border-left: $sidebar-active-border;
      color: $sidebar-active-color;
    }
  }

  .settings {
    border-top: $sidebar-settings-border;
    display: flex;
    flex-flow: row nowrap;
    font-size: $icon-settings-font_size;
    justify-content: space-between;
    margin-top: auto;
    padding: 1em;

    .settings-icon {
      color: $sidebar-settings-icon-color;
      cursor: pointer;
      font-size: $sidebar-settings-icon-size;
    }

    .net-status {
      font-size: $icon_status-font_size;
      padding: 0.5em;
      text-align: right;

      .mainnet {
        color: $sidebar-mainnet-color;
        font-weight: $sidebar-mainnet-font_weight;
      }

      .synced {
        color: $sidebar-synced-color;
        font-weight: $sidebar-synced-font_weight;
        padding: 0.5em;
      }
    }
  }

  @media screen and (min-width: 500px) and (max-width: 1252px) {
    .option-icon {
      opacity: 0;
      transition: opacity 0.4s ease-in;
    }

    .settings {
      .mainnet,
      .synced {
        display: none;
      }
    }
  }
}
