:local {
  @import "app/renderer/ui/theme";
  @import "app/renderer/ui/fonts";

  .centered {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .alert {
    background: $alert-gradient;
    color: $alert-color;
    grid-row-start: 2;
    padding: 35px 47px;

    .title {
      font-weight: 600;
      margin-bottom: 20px;
    }

    ul {
      list-style-position: inside;
      list-style-type: disc;

      li {
        @extend %font12;

        margin-bottom: 10px;
      }
    }
  }

  .alert-grid {
    display: grid;
    grid-column-start: 3;
    grid-row: 1fr 1fr 1fr;
    grid-row-start: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
  }

  .right {
    align-items: center;
    display: flex;
  }

  .seed {
    @extend %font14;

    align-items: center;
    border: $input-big-border;
    border-radius: $input-big-border_radius;
    box-sizing: border-box;
    color: $input-big-color;
    display: inline-flex;
    height: $input-big-height;
    margin: 25px 0;
    padding: 25px 30px;
    width: 100%;
  }

  .recommendation {
    @extend %font14;

    color: $font-color-dark;
  }
}
