:local {
  @import "app/renderer/ui/theme";

  .spinner {
    animation: spin 1s infinite linear;
    border: $spinner-main-border;
    border-radius: 100%;
    border-top: $spinner-secondary-border;
    height: $spinner-height;
    width: $spinner-width;
    z-index: 1;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
