:local {
  @import "app/renderer/ui/theme";

  .text {
    margin-bottom: 35px;

    strong {
      color: $gold-7;
      font-weight: bold;
    }
  }

  .field {
    margin-bottom: 20px;
    width: 100%;
  }

  .label {
    color: $font-color-light;
    display: inline-block;
    padding-right: 20px;
    text-align: right;
    width: 30%;
  }

  .input {
    display: inline-block;
    font-size: 1.4em;
    padding-bottom: 10px;
    text-align: center;
    width: 60%;
  }

  .error {
    margin-bottom: 28px;
  }
}
