:local {
  @import "app/renderer/ui/theme";

  .transaction {
    align-items: center;
    border-bottom: $transaction-border;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    padding: 30px 50px;
  }

  .status-icon {
    font-size: $transaction-status_icon-font_size;
    grid-column: 1;
    grid-row: 1;
    margin-right: 10px;

    .unconfirmed {
      color: $transaction-unconfirmed-color;
    }

    .timelocked {
      color: $transaction-timelocked-color;
    }
  }

  .status {
    color: $transaction-status-color;
    font-size: $transaction-status-color;
    font-weight: $transaction-status-font_weight;
    grid-column: 2;
    grid-row: 1;
    text-transform: uppercase;
  }

  .vestingTime {
    color: $transaction-vesting_time-color;
    font-size: $transaction-vesting_time-font_size;
    font-weight: $transaction-vesting_time-font_weight;
    grid-column: 3;
    grid-row: 1;
    margin-left: 5px;
  }

  .amount {
    grid-column: 2;
    grid-row: 2;

    .number {
      font-size: $transaction-number-font_size;
      font-weight: $transaction-number-font_weight;
      margin-right: 5px;

      &.positive {
        color: $success-color;
      }

      &.negative {
        color: $error-color;
      }
    }

    .wit {
      color: $transaction-wit-color;
      font-size: $transaction-wit-font_size;
      font-weight: $transaction-wit-font_weight;
    }
  }

  .address {
    grid-column: 3;
    grid-row: 2;

    .origin {
      color: $transaction-origin-color;
      font-size: $transaction-origin-font_size;
      font-weight: $transaction-origin-font_weight;
    }

    .address-number {
      color: $transaction-address-color;
      font-size: $transaction-address-color;
    }
  }
}
