:local {
  @import "app/renderer/ui/theme";

  .transaction {
    align-items: center;
    border-bottom: $transaction-pending-border;
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    padding: 2em;
  }

  .status-icon {
    font-size: 8px;
    grid-column: 1;
    grid-row: 1;

    .unconfirmed {
      color: $transaction-pending-unconfirmed-color;
    }

    .timelocked {
      color: $transaction-pending-timelocked-color;
    }
  }

  .status {
    color: $transaction-pending-status-color;
    font-size: 14px;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
    text-transform: uppercase;
  }

  .vestingTime {
    color: $transaction-pending-vesting-color;
    grid-column: 3;
    grid-row: 1;
  }

  .amount {
    grid-column: 2;
    grid-row: 2;

    .number {
      font-size: 18px;

      &.positive {
        color: $transaction-pending-positive-color;
      }

      &.negative {
        color: $transaction-pending-negative-color;
      }
    }

    .wit {
      color: $transaction-pending-wit-color;
      font-size: 10px;
      font-weight: bold;
    }
  }

  .address {
    font-size: 14;
    grid-column: 3;
    grid-row: 2;

    .origin {
      color: $transaction-pending-origin-color;
    }

    .address-number {
      color: $transaction-pending-number-color;
    }
  }
}
