:local {
  @import "app/renderer/ui/theme";

  .layout {
    display: grid;
    grid-template-areas:
      "nv mn"
      "nv mn"
      "nv mn";
    grid-template-columns: 352px 1fr;
    grid-template-rows: minmax(100vh, 100vh);
    max-height: 100vh;
    max-width: 100%;
  }

  .sidebar {
    grid-area: nv;
    max-height: 100vh;
  }

  .main {
    background: $background-color;
    display: grid;
    grid-area: mn;
    grid-template-areas:
      "tb"
      "ct";
    grid-template-rows: repeat(2, 60px 1fr);
    max-height: 100vh;
  }

  .top-bar {
    background: $top_bar-background;
    grid-area: tb;
  }

  .content {
    background: $background-color;
    grid-area: ct;
  }
}
