:local {
  @import "app/renderer/ui/theme";
  // GRID LAYOUT
  .layout {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    margin: 0;
    padding: 0;
  }

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
  }

  .sidebar {
    width: 15vw;
  }

  .main {
    background: $background-color;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 85vw;
  }

  .top-bar {
    background: $top_bar-background;
    width: 85vw;
  }

  .receive-main {
    grid-column: col 1 / -1;
    height: 100vh;
  }

  .about-side {
    display: none;
  }

  @media screen and (min-width: 400px) and (max-width: 1250px) {
    .sidebar {
      transition: width 0.5s linear;
      width: 60px;
    }

    .main {
      width: 95vw;
    }

    .top-bar {
      width: 95vw;
    }
  }

  @media screen and (min-width: 50px) and (max-width: 400px) {
    .sidebar {
      display: none;
      opacity: 0;
      transition: opacity 0.5s linear;
    }

    .main {
      width: 100vw;
    }

    .top-bar {
      width: 100vw;
    }
  }
}
