name: Release Draft

on:
  push:
    tags:
      - '*'

jobs:
  Build:
    runs-on: ${{ matrix.os }}
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}

    strategy:
      matrix:
        os: [
          macos-latest,
          ubuntu-latest,
          windows-latest
        ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.11.0

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Build
        shell: bash
        env:
          # macOS Code signing certificates
          CSC_LINK: ${{ secrets.CSC_LINK }}
          CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
          # macOS notarization API key
          APPLEID: ${{ secrets.APPLEID }}
          APPLEIDPASS: ${{ secrets.APPLEIDPASSWORD }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SIGN: true
        run: |
          pnpm install
          pnpm build --publish="never"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-artifact
          path: |
            release/**/*
            !release/**/*.blockmap

  Draft:
    runs-on: ubuntu-latest
    needs: [Build]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          pattern: "*artifact"
          path: release

      - name: Create Draft
        uses: ncipollo/release-action@v1
        with:
          artifacts: "release/**/*.exe,release/**/*.AppImage,release/**/*.dmg,release/**/*.snap"
          draft: true