:local {
  @import "app/renderer/ui/theme";

  .header {
    grid-column: col 1 / -1;
    height: 23vh;
    background: #1a6cfb;
  }

  .header-text {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: space-around;
  }

  .main {
    grid-column: col 1 / span 10;
    grid-row: 2;
    margin-top: 1em;
  }

  .featured, .insurance {
    margin: 1em;
  }

  .row {
    display: flex;
    flex-flow: row wrap;
  }

  

  .item {
    justify-content: flex-start;
    background: $wrapper-content-background;
    box-shadow: $default-box-shadow;
    display: flex;
    flex-flow: column nowrap;
    margin: 10px;
    width: 16vw;
  }

  .item-img {
    background: tomato;
    width: 100%;
    height: 10vh;
  }

  .item-text {
    padding: 1em;
  }

  .hashtag-list {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-end;
  }

  .hashtag-item {
    margin: 3px;
  }

  .nav {
    grid-column: col 10 / -1;
    grid-row: 2;
  }
}