:local {
  @import "app/renderer/ui/theme";

  .header {
    background: #1a6cfb;
    height: 14vh;
    padding: 4em;
  }

  .header-text {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: flex-start;
  }

  .title1 {
    color: $blue-3;
    font-size: 50px;
    font-weight: $marketplace-title-font_weight;
    margin: 5px;
  }

  .title2 {
    color: $grey-1;
    font-size: 50px;
    font-weight: $marketplace-title-font_weight;
    margin: 5px;
  }

  .subtitle {
    color: $grey-1;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
  }

  .main {
    margin-top: 1em;
  }

  .featured,
  .insurance {
    margin: 1em;
  }

  .section-title {
    color: $grey-8;
    font-size: 20px;
  }

  .row {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .item {
    background: $wrapper-content-background;
    border-radius: 1%;
    box-shadow: $default-box-shadow;
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    padding: 1em;
    width: 12vw;
  }

  .item-img {
    border-radius: 2%;
    height: 5vh;
    width: 100%;
  }

  .item-text {
    align-content: flex-end;
    display: flex;
    flex-flow: row wrap;
    height: 16vh;
    width: 100%;
  }

  .hashtag-list {
    display: flex;
    flex-flow: row wrap;
  }

  .hashtag-item {
    color: $blue-6;
    margin: 2px;
    text-decoration: none;
  }

  .nav {
    margin: 2em;
  }

  .navbar-categories {
    background-color: $grey-4;
    border: solid 1px $grey-5;
    border-radius: 1%;
    bottom: 40vh;
    display: flex;
    flex-flow: column wrap;
    margin: 1em;
    padding: 0.5em;
    position: absolute;
    width: 20vw;
  }

  .navbar-item {
    align-self: flex-start;
    padding: 1.2em;
    width: 80%;
  }

  .navbar-item a {
    color: $grey-7;
    font-style: bold;
    font-weight: 600;
    text-decoration: none;
  }

  .nav-border {
    border-bottom: solid 1px $grey-6;
    margin: 5px;
  }

  .bar {
    border-color: $grey-4;
  }

  .tags {
    bottom: 25vh;
    margin: 1em;
    position: absolute;
  }

  .tag-list {
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
  }
}
